{% extends 'base.html' %}
{% load static %}
{% block body %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600;700&family=Poppins:wght@200;300&display=swap');
   body{
       background-color: #f2efec;
   }
   #Top-postion
   {

      
       background:#000000;
   }
  
   #bottom-potion
   {
   
       background:#000000;
       padding-bottom:1em ;
   }
   #Top-postion .container{
       
      
       display: grid;
       grid-template-columns: 1fr 1fr;
       align-items: center;
       background: #0b0b0b;
       padding-top: 2em;
       padding-bottom: 2.2em;
      
     
      
   }
   #Top-postion .right-side
   {
      /*background: #a57781;8*/
     
      
       justify-content: center;
   }
   #Top-postion .right-side h4
   {
       font-weight: 700;
       padding: 0.20em  0.50em;
   }
   #Top-postion .right-side span{
       color: #d2274c;
   }
   #Top-postion .right-side p
   {
       padding: 0.50em  0.70em;
       font-size: 0.89em;
       line-height: 1.8em;
       text-align: center;
       color: #cecece;
       /*font-style: italic;*/
       letter-spacing: 0.08em;
   }
   #Top-postion .request-box
   {
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 1em 0.40em;
       
   }
   #Top-postion .left-side
   {
       /*background: #a57781;8*/
       
       display: flex;
       align-items: center;
       justify-content: center;
   }
   #request
       {
           background:#f80445;
           color: #fff;
           padding: 0.60em 2em;
           font-size: 1em;
           letter-spacing: 0.10em;
           font-weight: 600;
           border-radius: 5px;
           border: none;
           outline: none;
       }
   .img-box1
   {
       width:350px;
       height: 300px;
       padding: 1em 0.50em;
   }
   .img-box1 img 
   
   {
       width: 350px;
       height: 100%;
       border-radius: 40px;
   }
   #second-potion
   {
      
       padding: 0.30em 0.90em;
       background:#000000;
       

   }
   #second-potion .container
   {
      
      margin-bottom: 2em;
      background:#000000;
      font-family: 'Heebo', sans-serif;
      font-family: 'Poppins', sans-serif;
      padding: 0.30em 1em ;

   }
   #second-potion .container .heading-top-section h3
   {
       
      
       padding: 2em 0.40em;
       color: #d8d5d5;
       font-size: 1.8em;
       font-weight: 500;
       letter-spacing: 0.10em;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       text-transform: capitalize;
       line-height: 1.5em;
   }

   #bottom-potion .container{
       background: #0b0b0b;
   
       display: flex;
       align-items: center;
       justify-content: center;
      padding-top: -2em;
      padding-bottom:1em;
      margin-bottom: 1em;
      
   }
   #bottom-potion .container p{
       font-size: 0.90em;
       text-align: center;
       line-height: 1.7em;
       padding: 3.7em 1em;
       color: #b4b4b4;
       letter-spacing: 0.03em;
      /*font-style: italic;*/
       word-spacing:0.10em;
   }

   @media(max-width:932px)
   {
       #Top-postion .container{
          
           grid-template-columns:repeat(1,1fr);
       }
       #Top-postion .container {
          display: flex;
          justify-content:center ;
          flex-direction:column-reverse;
           align-items: center;
       }
       .img-box1
           {
               width:300px;
               height: 300px;
               padding: 1em 0.50em;
           }
           .img-box1 img 
           
           {
               width: 280px;
               height: 90%;
               border-radius: 40px;
           }
           #Top-postion .right-side h4
           {
               text-align: center;
               margin-top: 1em;
           }
           
   }


   /* ----- product box ------- */

   #second-potion .product-container
   {
       display: flex;
       align-self: center;
       justify-content: center;
       gap:4em;
       padding: 0.80em 0em;
       margin-bottom: 0.70em;
       background: #0a0a0a;
       font-family: 'Heebo', sans-serif;
       font-family: 'Poppins', sans-serif;

   }
   .product-imgage
   {
       height: 100%;
       width: 27%;
   }
   .product-imgage img{
       width: 100%;
       height: 250px;
       object-fit: cover;
       border-radius: 10px;
   }
   .pruduct-details-box
   {
       width: 45%;
       padding: 0.40em 0.50em;
       align-items: center;
   }
   .pruduct-details-box h4
   {
       color: rgb(239, 235, 235);
       font-weight: 800;
       margin-top: 0.40em;
       margin-bottom: 1.0em;
       font-size: 1.5em;
       letter-spacing: 0.05em;
      /*font-style: italic;*/
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
   }
   .pruduct-details-box p{
       font-size: 0.88em;
       line-height:2em;
       letter-spacing: 0.07em;
       color: #cecece;
       font-weight: 500;
      /*font-style: italic;*/
   }
   .pricing
   {
       font-size: 1.6em;
       color: #e6e5e5;
       font-weight: 600;
   }
   .product-rating
   {
       color: #e83e0f;
       font-size: 12px;
   }
   .product-bottom
   {
       display: flex;
       align-items: center;
       justify-content: space-around;
   }
   .cart-btn
   {
       border: none;
       outline: none;
       padding: 0.45em 1.8em;
       margin-top: 1em;
       background: #ffae0c;
       color: #ffffff;
       font-size: 14px;
       font-weight:600;
       letter-spacing: 0.08em; 
   }
   .cart-btn:hover{
       color: #0a0a0a;
   }
   .like-heart
   {
       min-width: 40px;
       min-height: 35px;
       background: #1d1d1d;
       margin-left: 1em;
       padding: 0.55em;
       border-radius: 50%;
   }
   .like-heart .fa-heart
   {
       color: #b50404;
       padding-left: 0.18em;
   }
   
   @media(max-width:932px)
   {   #second-potion .container .heading-top-section h3
       {
           padding: 1em 0.40em;
           color: #d8d5d5;
           font-size: 1.4em;
           font-weight: 600;
           letter-spacing: 0.08em;
           font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
           text-transform: capitalize;
           line-height: 1.3em;
       }
       #second-potion .product-container
       {
           flex-direction: column;
       }
       .product-imgage
       {
           height: 250px;
           width: 100%;
       }
       .product-imgage img{
           width: 100%;
           height: 250px;
           
       }
       .pruduct-details-box
       {
           width: 100%;
           padding: 0.03em 0.70em;
           padding-bottom: 1em;
         
       }
       .pruduct-details-box h4
       {
      
       margin-top: 0.10em;
       margin-bottom: 0.80em;
       font-size: 1.4em; 
       }
       .pruduct-details-box p{
           font-size: 0.88em;
           line-height:1.8em;
           letter-spacing: 0.05em;
           color: #cecece;
          /*font-style: italic;*/
       }
       .product-bottom
       {
           margin-top: 1em;
       }

   }

   
</style>

<section id="second-potion">
    <div class="container">
        <div class="heading-top-section">
            <h3>TOP PICKS PRODUCTS <br><span>OF THE WEEK</span></h3>
        </div>
        {% for p in normal %}
        <div class="product-container">
            <div class="product-imgage">
                {% if p.gib %}
                    <img src="{{p.gib.url}}" alt="Photo shop image">
                {% endif %}
            </div>
            <div class="pruduct-details-box">
                <h4>{{p.modelname}}</h4>
              
                <p>{{p.description}}</p>
                
                <p>price ₹ <span class="pricing">{{p.price}}</span></p>
                
                <div class="product-rating"> 
                  
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
              </div> 
              <div class="product-bottom">
                <a href="{% url 'view_items' p.id  %}" class="cart-btn">
                <i class="fa fa-shopping-cart" style="color: #000000;" aria-hidden="true"></i>&nbsp;&nbsp;Add Cart</a>
                <span class="like-heart" id=""><i class="fa fa-heart"></i>
              </div>

              
            </div>
        </div>
        {% endfor %}

    </div>

</section>
   
    

<section id="Top-postion">
    <div class="container">
        <div class="left-side">
            <div class="img-box1">
                <img src="static/images/ui.jpg">
            </div>
        </div>
        <div class="right-side">
            <h4 class="p-2"><span>3D</span> MODELS</h4>
                <p class="text-center">Explore the diverse field of 3D modelling for your 
                    ideal projects and create a presentation that is priceless. Join 
                    forces with us to turn your ideas into stunning works of art, 
                    accurately compose and model your plans and sketches.
                </p>
            <div class="request-box">
                <a href="#" id="request" data-bs-toggle="modal" data-bs-target="#exampleModal">Need Another Design <i class="fa fa-question"></i></a>
            </div>
        </div>
    </div>
 </section>


<style>
    #exampleModal .modal-dialog, .modal-header, .modal-footer
     {
       border: none;
       outline:none;
       border-radius: none;
     }
     #exampleModal  .close
     {
       border: none;
       outline:none;
       border-radius: none;
     
     }
     #exampleModal  .modal-content .form
     {
     
     background:#fbfbfb;
     border-radius:8px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
     padding:8px 20px;
     box-sizing:border-box;
     font-family:'Montserrat',sans-serif;
     position:relative
     }
     #exampleModal   .modal-content  h4
     {
       margin:10px 0;
       padding-bottom:10px;
       width:120px;
       color:#78788c;
       border-bottom:3px solid #262628;
       font-size: 1.2em;
     }
     
     #exampleModal  .modal-content  input, select{
       width:100%;
       padding:10px;
       box-sizing:border-box;
       background:none;
       outline:none;
       resize:none;
       border:0;
       font-family:'Montserrat',sans-serif;
       transition:all .3s;
       border-bottom:2px solid #bebed2
     }
     #exampleModal  .modal-content  input:focus, option:focus{
       border-bottom:2px solid #78788c
     }
     
     #exampleModal  .modal-content  p:before{
       content:attr(type);
       display:block;
       margin:28px 0 0;
       font-size:12px;
       color:#5a5a5a
     }
     #exampleModal   .modal-content  .btn-send
     {
       float:right;
       padding:8px 12px;
       margin:5px 0 0;
       font-family:'Montserrat',sans-serif;
       border:2px solid #78788c;
       background:0;
       color:#5a5a6e;
       cursor:pointer;
       transition:all .3s;
       border-radius: 10px;
     }
       #exampleModal  .modal-content .btn-send:hover
     {
       background:#131364;
       color:#fff
     }
     
     
     #exampleModal   .close:hover{
       background: #fff;
     }
     
     </style>
 
     
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
         <div class="modal-dialog modal-notify modal-success" role="document">
           <!--Content-->
           <div class="modal-content">
             <!--Header-->
             <div class="modal-header">
              
               <h4> <i class="fa fa-paper-plane" aria-hidden="true" style="color:red;font-size:18px;"></i> Request </h4>
       
               <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true" class="white-text">&times;</span>
               </button>
             </div>
       
             <!--Body-->
             <div class="modal-body">
                 <form  action="{% url 'Request_form' %}" method="post" class="form"  autocomplete="off" enctype="multipart/form-data">
                 {% csrf_token %}
                 
                 <p type="Name:"><input placeholder="Write your name here.."  name="name" required></p>
                 <p type="Email:"><input placeholder="Let us know how to contact you back.."name="email" required></p>
                 <p type="Phone:"><input placeholder="Let us know your number" pattern="[1-9]{1}[0-9]{9}" name="phone" required></p>
                 <p type="Address:"><input placeholder="Write your Address here.."  name="address" required></p>
                 <p type="Category:"><input placeholder="Write your name here.."  name="cate" value="{{categ.category_name}}" required></p>
                 <p type="File:"><input placeholder="What would you like to tell us.."  type="file" name="example"></p>
                 
                 <p type="Description:"><input placeholder="What would you like to tell us.." name="description" required></p>
                
                 <button type="submit" class="btn-send">Request</button>
                 
               </form>
             </div>
       
            
           </div>
           <!--/.Content-->
         </div>
       </div>
 


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>

        $(document).on('submit', '#form_save',function(e){
            e.preventDefault()
            console.log('clicked')

            $.ajax({
                type:'post',
                url:'request_form/',
                data:{
                    name:$('#fullname').val(),
                    email:$('#email').val(),
                    address:$('#address').val(),
                    phone:$('#phone_number').val(),
                    description:$('#desc').val(),
                    examp_file:$('#file').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),

                },
                success:function(data){
                    alert(data)
                }
            })
            $('#exampleModal').modal('hide');

            document.getElementById('fullname').value="" ;
            document.getElementById('email').value="" ;
            document.getElementById('address').value="" ;
            document.getElementById('phone_number').value="" ;
            document.getElementById('desc').value="" ;
            document.getElementById('file').value="" ;
            

        })

    </script>

    
{% endblock %}
