{% extends 'admin_base.html' %} 
{% load static%} 
{% block body %}


<style>
    .dwn
    {
        border: none;
        background: #000;
        color: rgb(245, 246, 247);
        padding: 0.40em 1.1em;
        border-radius: 10px;
    }
    .dwn a{
        color: rgb(245, 246, 247);
    }
</style>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% for i in adm %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> Dashboard </h1>
                       
                    </div>
                    {% endfor %}

                    <!-- Content Row -->
                    <div class="row">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'requested_work' %}" style="text-decoration: none;">
                            <div class="card border-left-info  shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Work Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </a>
                        </div>
                  

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'ongoing_work' %}" style="text-decoration: none;">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Ongoing Works</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'completed_work' %}" style="text-decoration: none;">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Completed Works</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{models}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'models_show' %}" style="text-decoration: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary  text-uppercase mb-1">
                                                Total Models</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{models}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <!-- <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
                                            </div>
                                            <div class="row no-gutters align-items-center">
                                                <div class="col-auto">
                                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                                </div>
                                                <div class="col">
                                                    <div class="progress progress-sm mr-2">
                                                        <div class="progress-bar bg-info" role="progressbar"
                                                            style="width: 50%" aria-valuenow="50" aria-valuemin="0"
                                                            aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- Pending Requests Card Example -->
                        <!-- <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Pending Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{enq}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>

                   

                </div>
                <!-- /.container-fluid -->


                 <!-- Begin Page Content -->
                 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Messages</h1>
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                        For more information about DataTables, please visit the <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <!-- <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div> -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone No</th>
                                            <th scope="col">Company Name</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Upload File</th>
                                        </tr>
                                    </thead>
                                    <!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> -->
                                    <tbody>
                                        {% for i in messg %}
                                        <tr>
                                          
                                          <td>{{i.mg_date}}</td>
                                          <td>{{i.name}}</td>
                                          <td>{{i.email}}</td>
                                          <td>{{i.phno}}</td>
                                          <td>{{i.company_name}}</td>
                                          <td>{{i.messag}}</td>
                                          <td>
                                              {% if i.files %}
                                              <button class="dwn"><a href="#"  download="{{i.files.url}}">Download</a></button>
                                              
                                              {% endif %}
                                          </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
      

{% endblock %}

<div class="container">
    {% for i in adm %}


    <label for="" style="font-weight: 700;">Welcome To {{ i.username}} &nbsp;Dashboard</label>
    {% endfor %}
    <div class="row mt-3">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <h5 class="mt-2 p-2"> </h5>
                <div class="card-body overflow-auto p-1" style="height:52vh">
                   
                    <div class="container mt-4 mb-3">
                        <table class="table mb-2">
                            <thead class="table-dark">
                              <tr>
                                
                                
                              </tr>
                            </thead>
                            <tbody>
                                {% for i in messg %}
                              <tr>
                                
                                <td>{{i.mg_date}}</td>
                                <td>{{i.name}}</td>
                                <td>{{i.email}}</td>
                                <td>{{i.phno}}</td>
                                <td>{{i.company_name}}</td>
                                <td>{{i.messag}}</td>
                                <td>
                                    {% if i.files %}
                                    <button class="dwn"><a href="#"  download="{{i.files.url}}">Download</a></button>
                                    
                                    {% endif %}
                                </td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>

                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 grid-margin ">
            <a style="text-decoration:none">
                <div class="card" style="height:40vh">


                    <div class="card-body">

                        <center>

                            <p class="card-title mb-0 mt-5 pt-3 text-info font-weight-bold">Total Users</p>

                            <p class="card-title mb-0 mt-3 text-primary">{{users}}+</p>

                        </center>
                    </div>


                </div>

            </a>
        </div>

        <div class="col-md-6 grid-margin">
            <a class="text-decoration-none">
                <div class="card" style="height:40vh">


                    <div class="card-body">
                        <center>
                            <p class="card-title mb-0 mt-5 pt-3 text-info font-weight-bold">Total Models</p>

                            <p class="card-title mb-0 mt-3 text-primary">{{models}}+</p>
                        </center>
                    </div>
                </div>
            </a>
        </div>

    </div>



</div>
</div>


