{% extends 'admin_base.html' %} 
{% load static%} 
{% block body %}


<style>
    .dwn
    {
        border: none;
        background: #000;
        color: rgb(245, 246, 247);
        padding: 0.40em 1.1em;
        border-radius: 10px;
    }
    .dwn a{
        color: rgb(245, 246, 247);
    }
    #dataTable
    {
        font-size: 13px;
    }
</style>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    {% for i in adm %}
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800"> Dashboard </h1>
                       
                    </div>
                    {% endfor %}

                    <!-- Content Row -->
                    <div class="row">
                        
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'requested_work' %}" style="text-decoration: none;">
                            <div class="card border-left-info  shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Work Requests</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{req}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                         </a>
                        </div>
                  

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'ongoing_work' %}" style="text-decoration: none;">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                              Ongoing Works</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{req2}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'completed_work' %}" style="text-decoration: none;">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Completed Works</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{req3}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-briefcase fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="col-xl-3 col-md-6 mb-4">
                            <a href="{% url 'models_show' %}" style="text-decoration: none;">
                            <div class="card border-left-secondary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-secondary  text-uppercase mb-1">
                                                Total Models</div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{models}}</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-address-card fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>

                        
                    </div>

                   

                </div>
                <!-- /.container-fluid -->


                 <!-- Begin Page Content -->
                 <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Messages</h1>
                   

                    <!-- Message Table-->
                    <div class="card shadow mb-4 overflow-auto" style="max-height: 60vh;">
                        <!-- <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div> -->
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Full Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Phone No</th>
                                            <th scope="col">Company Name</th>
                                            <th scope="col">Message</th>
                                            <th scope="col">Upload File</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
                                        {% for i in messg %}
                                        <tr>
                                          
                                          <td>{{i.mg_date}}</td>
                                          <td>{{i.name}}</td>
                                          <td>{{i.email}}</td>
                                          <td>{{i.phno}}</td>
                                          <td>{{i.company_name}}</td>
                                          <td>{{i.messag}}</td>
                                          <td>
                                              {% if i.files %}
                                              <button class="dwn"><a href="#"  download="{{i.files.url}}">Download</a></button>
                                              
                                              {% endif %}
                                          </td>
                                          <td><a href="{% url 'messge_remove' i.id %}"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
      

{% endblock %}




