{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="banner">
        <div class="inner">
            <b>
                <h3 class="text-light headtext" style="font-family: '', sans-serif; ">
                    <span style="color: rgb(255, 5, 72);">CAT</span>EGORIES
                </h3>
            </b>
        </div>
        <style>
            .banner {
                height: 50vh;
                background-image: url('https://c4.wallpaperflare.com/wallpaper/995/152/891/assassins-creed-4k-windows-wallpaper-preview.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;


            }

            .headtext {
                font-size: 50px;
                font-weight: 600;
            }

            .inner {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            @media all and (max-width: 500px) {
                .banner {
                    height: 30vh;


                }

                .headtext {
                    font-size: 30px;
                }
            }
        </style>
    </section>
    
   
    <section class="grayback m-0 " style="background:#111010 ">
        <section class="p-lg-5 ">
            <h4  class="head-categ text-center pt-4 p-lg-0 "data-aos="fade-up"data-aos-delay="50">
                CHECK OUT OUR CATEGORIES
            </h4>
            <!-- <div class="flexy w-100">
                <div style="background-color: white;height: 2px; width: 20%;">
                </div>
            </div> -->
            <div class="cards-list">
                <a class="card3" href="{% url 'price_low' %}"
                     style="background-image: url('{% static 'images/car.jpg'%}'); ">
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>3D</span>  ARTISTS
                        </h4>
                        <p>
                            Bringing your ideas to life through 3D modeling
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'photoshop' %}"
                style="background-image: url('{% static 'images/Moon-Photoshop.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>PHOTO</span>SHOP
                        </h4>
                        <p >
                            Make your photos look Amazing with our Photoshop services
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'ui_design' %}"
                style="background-image: url('{% static 'images/ui1.jpg'%}'); ">
                 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span> UI </span>DESIGN
                        </h4>
                        <p>
                            UI/UX design for web pages to enhance your users' experience
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'house_plans'%}"
                style="background-image: url('{% static 'images/house.jpg'%}'); ">
                     
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>HOUSE</span> PLANS
                        </h4>
                        <p>Professional house plans for your Dream Home</p>
                        
                    </div>
                </a>
                <a class="card3" href="{% url 'logo_creation'%}"
                style="background-image: url('{% static 'images/b-letter-boutique-logo-design-159417325.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>LOGO</span> CREATION
                        </h4>
                        <p>
                            Make your brand look its best with our logo design services.
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'drawings'%}"
                
                style="background-image: url('{% static 'images/images (6) 1.png' %}'); ">
 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>DRAW</span>INGS 
                        </h4>
                        <p >
                            Precision drawings that can help you realize your visions
                        </p> 
                    </div>
                </a>
            </div>
        </section>
        <style>
            .head-categ
            {
                font-weight: 700;   
                letter-spacing: 0.04em; 
                color: rgb(222, 222, 222);
            }
            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 2.1em;
                background: #111010;
            }
            .flex h4{
                margin-top: 7.5em;
            }
            .flex p{
                color: rgb(209, 209, 209);
                line-height: 1.6em;
                letter-spacing: 0.04em;
                font-size: 15px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 0.60em;
                margin-bottom: 0.90em;
                font-weight: 500;
                
            }
            .flex span{
                color: #fcd731;
                font-size: 1em;
                font-weight: 700;
            }

            .cards-list {
                z-index: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 2em;
               
               
            }

            .card3 {
                margin: 30px auto;
                width: 380px;
                height: 380px;

                background-size: 100% 100%;
                cursor: pointer;
                transition: 0.4s;
              border-radius: 15%;
              background-color: rgb(0, 0, 0);
            }

            .dark1 {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 15%;
            }
            .dark1 p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .card3:hover .dark1 {
                background-color: rgba(0, 0, 0, 0.8);
                transition: 1s;

            }

            @media all and (max-width: 800px) {
                .card-list {
                    /* On small screens, we are no longer using row direction but column */
                    flex-direction: column;
                }

                .card3 {
                    margin: 10px auto;
                    width: 90%;
                    height: 250px;
                }
                .head-categ
                {
                    font-weight: 600;   
                    letter-spacing: 0.01em; 
                    color: rgb(222, 222, 222);
                    font-size: 1em;
                    margin-bottom: 1.4em;
                }
                .flex h4{
                    margin-top: 5.5em;
                }



            }
        </style>
    </section>
{% endblock %}
