{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="banner">
        <div class="inner">
            <b>
                <h3 class="text-light headtext" style="font-family: '', sans-serif; ">
                    <span style="color: rgb(255, 5, 72);">CAT</span>EGORIES
                </h3>
            </b>
        </div>
        <style>
            .banner {
                height: 50vh;
                background-image: url('https://c4.wallpaperflare.com/wallpaper/995/152/891/assassins-creed-4k-windows-wallpaper-preview.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;


            }

            .headtext {
                font-size: 50px;
                font-weight: 600;
            }

            .inner {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            @media all and (max-width: 500px) {
                .banner {
                    height: 30vh;


                }

                .headtext {
                    font-size: 30px;
                }
            }
        </style>
    </section>
    

    <section class="mt-4" id="first-content">
        <div class="container p-2">
            <h2 class="bld pb-3 mb-3 pl-2 ">
                Why prefer 3D <span class="red bld py-4">modelling</span>
            </h2>
            <div class="row">
                <div class="col-lg-5">
                    <ul>
                        <li> <span>✓</span>Branding for your business</li>
                        <li> <span>✓</span>Better product development</li>
                        <li> <span>✓</span>Easy product testing and prototyping</li>
                        <li> <span>✓</span>More precise measurements</li>
                        <li><span>✓</span>	3D modelling fixes errors before the final product design </li>
                        <li><span>✓</span> Highly efficient and save time during presentations</li>
                        <li><span>✓</span> Excellent communication tool for your end users</li>
                        <li> <span>✓</span>It helps in visualizing the scenario</li>
                        <li> <span>✓</span> Highly realistic and cost-effective</li>
                    </ul>
    
                </div>
                <div class="col-lg-7">
                    <p>
                        Since our inception, we have been satisfying the demands of our valued clients, 
                        providing excellent and accurate services on time, and have become the recognized 
                        name in 3D modelling, rendering, sketching caricature and many more. In order to 
                        create a highly realistic final product, we have the best platforms and software. 
                        The solution we provide spans the entire process of conceptualizing, sketching, 
                        and building a 3D model. In addition to using these models in your presentation, 
                        they can also assist employees and engineers in gaining a greater understanding of 
                        the product. Our design and development enable you to achieve fantastic outcomes and 
                        provide a powerful resource for your communication needs of your business.
                    </p>
                </div>
            </div>
            
            
        </div>
    </section>
    
    
    
    <style>
        
          .row {
            display: flex;
            flex-wrap: wrap;
          }
          .column {
            width: 100%;
            padding: 0 1em 1em 1em;
            text-align: center;
          }
          .card {
            width: 100%;
            height: 100%;
            padding: 1em 1.5em;
            background: linear-gradient(#ffffff 50%, #2c7bfe 50%);
            background-size: 100% 200%;
            background-position: 0 2.5%;
            border-radius: 5px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.12);
            cursor: pointer;
            transition: 0.5s;
          }
          h3 {
            font-size: 16px;
            font-weight: 600;
            color: #1f194c;
            margin: 1em 0;
          }
          p {
            color: #575a7b;
            font-size: 0.92em;
            line-height: 1.6;
            letter-spacing: 0.03em;
            word-spacing: 0.03em;
            text-align: justify;
          }
          .icon-wrapper {
            background-color: #2c7bfe;
            position: relative;
            margin: auto;
            font-size: 20px;
            height: 1.5em;
            width: 1.5em;
            color: #ffffff;
            border-radius: 50%;
            display: grid;
            place-items: center;
            transition: 0.5s;
          }
          .card:hover {
            background-position: 0 100%;
          }
          .card:hover .icon-wrapper {
            background-color: #ffffff;
            color: #2c7bfe;
          }
          .card:hover h3 {
            color: #ffffff;
          }
          .card:hover p {
            color: #f0f0f0;
          }
          @media screen and (min-width: 768px) {
            .servi {
              padding: 1 2em;
            }
            .column {
              flex: 0 50%;
              max-width: 50%;
            }
          }
          @media screen and (min-width: 992px) {
            .servi {
              padding: 1em 3em;
            }
            .column {
              flex: 0 0 33.33%;
              max-width: 33.33%;
            }
          }
    </style>
    
    
    <section class="mt-3 mb-4" id="content-bottom">
      <div class="container box-disp" >
          <h3>Freelance</h3>
          <p class="content">Looking for extra income is always appreciated. Though, are you satisfied with 
              your current part-time job, which does not help in building your career? Well, 
              you are not alone. We are here to help you.
              <br>
              Dimenzions opens a door to whole other levels of opportunities in freelancing services 
              in Kerala. Work from anywhere, at your own disposal, all you have to do is register your 
              expertise with Dimenzions. Website development, Digital marketing, Game development, Auditing, 
              Graphic designing, Content writing, Video editing, whatever profession you are looking for 
              will be available at your fingertips.
          </p>
      <span class="top"></span>
        <span class="right"></span>
        <span class="bottom"></span>
        <span class="left"></span>
      </div>
    </section>
    
    
    
    <section class="servi">
        <div class="row text-center">
            <h2 class="bld pb-3 mb-4">
                Services <span class="red bld py-4">We Offer</span>
            </h2>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-hammer"></i>
              </div>
              <h3>Logo Creation</h3>
              <p>
                An elegant Logo Design is what make your brand immortal, 
                leaving an impression worth a llifetime etched into the hearts 
                of audience. One can say that you are at the right place, 
                given the circumstance that you are searching for one right 
                now. Dimenzions is one the leading Logo designing company 
                in Kerala and cover your requirements by providing the best 
                logo one ever going to get. Wordmarks/logotypes, Letterforms, 
                Monogram logos, with symbols/brand marks/pictorial marks, 
                Abstract logo marks, Mascots, we deliver as your choice.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-brush"></i>
              </div>
              <h3>UI/UX Designing (front end)</h3>
              <p>
                We at Dimenzions understand that user experience pertains 
                        to everything that affects users and their interactions with 
                        a product. It is our goal to create products that enhance the 
                        digital experience for organizations and help brand custodians 
                        unlock growth, credibility, and ROI. Designing digital experiences 
                        that are clear, purposeful, and visually captivating is our specialty. 
                        Our SEO-friendly websites are tested with various quality controls to 
                        ensure that they're bug-free, easy to use, and aesthetically pleasing.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-wrench"></i>
              </div>
              <h3>3D Artistg</h3>
              <p>
                3D artists - highly sought after personnel in fields such 
                as medicine, automotive, gaming, and many others, who keep 
                perfecting & nurturing their gifts. From characters to 
                environments to special effects, they create images with 
                a keen eye for composition, photo-realism, and lighting. 
                3ds Max, V-Ray, Adobe Creative Suite, Maya are only a few 
                of the tools they are dancing with. Our 3D Rendering Artist 
                team builder will help you hire the right people to succeed.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-truck-pickup"></i>
              </div>
              <h3>Photoshop</h3>
              <p>
                The art of graphic design consists of making use of 
                        various design elements to convey information about 
                        a product or anything else. Making the audience consume 
                        what you imply. We offer Graphic design services within reach, 
                        ranging from publications, social media posters, Visiting 
                        cards, Packet designing, ID cards, Brochure creation, 
                        Flyer Design, Flex Design, and magazines to websites and billboards.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-broom"></i>
              </div>
              <h3>House Plan</h3>
              <p>
                Has there ever been a place that would blow your mind off 
                        and grab your attention with its sheer elegance and brilliance? 
                        As the best interior designer in Kochi, we create the trends 
                        of tomorrow's exquisite residential spaces of all kinds. 
                        Each interior design requirement is treated with the utmost 
                        professionalism by our interior designers. Architect your 
                        home in luxury with the help of master minds of Dimenzions. 
                        The brilliance in setting Home & Offices Interior & Exterior 
                        is yours to unlock.
              </p>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="icon-wrapper">
                <i class="fas fa-plug"></i>
              </div>
              <h3>Drawings</h3>
              <p>
                Immerse yourself in the beauty of handcrafted drawings of 
                your favourite places, persons, or anything. Photo sketches, 
                Caricature works, Photo frame pictures, let it be anything; 
                the magic hands are ready to pull out the best in them within 
                a short period of time, effortlessly. Sketches, watercolour, 
                oil, acrylic, marble, and granite drawings are born again with 
                an elegant touch of expertise.
              </p>
            </div>
          </div>
        </div>
    </section>
    
    
    <style>
        #content-bottom{
            margin: 0.25em;
        }
        #content-bottom .container
        {
           box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
           padding: 1em 1.2em;
        }
        #content-bottom h3{
            font-size: 1.3em;
            font-weight: 600;
        }
        #content-bottom .box-disp {
            position: relative;
           
            color: #fff;
            background: transparent;
            overflow: hidden;
            border-top: 2px solid rgba(255, 49, 49, 0.5);
            border-right: 2px solid rgba(0, 255, 255, 0.5);
            border-bottom: 2px solid rgba(57, 255, 20, 0.5);
            border-left: 2px solid rgba(255, 255, 113, 0.5);
            font-family: sans-serif;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
          
          }
    
          #content-bottom p {
            font-size: 0.92rem;
            text-align: center;
          }
    
          #content-bottom span {
            position: absolute;
            border-radius: 100vmax;
          }
    
          #content-bottom .top {
            top: 0;
            left: 0;
            width: 0;
            height: 5px;
            background: linear-gradient(
              90deg,
              transparent 50%,
              rgba(255, 49, 49, 0.5),
              rgb(255, 49, 49)
            );
          }
    
          #content-bottom .bottom {
            right: 0;
            bottom: 0;
            height: 5px;
            background: linear-gradient(
              90deg,
              rgb(57, 255, 20),
              rgba(57, 255, 20, 0.5),
              transparent 50%
            );
          }
    
          #content-bottom .right {
            top: 0;
            right: 0;
            width: 5px;
            height: 0;
            background: linear-gradient(
              180deg,
              transparent 30%,
              rgba(0, 255, 255, 0.5),
              rgb(0, 255, 255)
            );
          }
    
          #content-bottom .left {
            left: 0;
            bottom: 0;
            width: 5px;
            height: 0;
            background: linear-gradient(
              180deg,
              rgb(255, 255, 113),
              rgba(255, 255, 113, 0.5),
              transparent 70%
            );
          }
    
          #content-bottom .top {
            animation: animateTop 3s ease-in-out infinite;
          }
    
          #content-bottom .bottom {
            animation: animateBottom 3s ease-in-out infinite;
          }
    
          #content-bottom .right {
            animation: animateRight 3s linear infinite;
          }
    
          #content-bottom .left {
            animation: animateLeft 3s ease-in-out infinite;
          }
    
          @keyframes animateTop {
            25% {
              width: 100%;
              opacity: 1;
            }
    
            30%,
            100% {
              opacity: 0;
            }
          }
    
          @keyframes animateBottom {
            0%,
            50% {
              opacity: 0;
              width: 0;
            }
    
            75% {
              opacity: 1;
              width: 100%;
            }
    
            76%,
            100% {
              opacity: 0;
            }
          }
    
          @keyframes animateRight {
            0%,
            25% {
              opacity: 0;
              height: 0;
            }
    
            50% {
              opacity: 1;
              height: 100%;
            }
    
            55%,
            100% {
              height: 100%;
              opacity: 0;
            }
          }
    
          @keyframes animateLeft {
            0%,
            75% {
              opacity: 0;
              bottom: 0;
              height: 0;
            }
    
            100% {
              opacity: 1;
              height: 100%;
            }
          }
    
    </style>
    
    
    
    
           
        <style>
                .gry{
                    color: rgb(97, 95, 95);
                }
               
                
                
        </style>
    </section>
   
    <section class="grayback m-0 " style="background:#111010 ">
        <section class="p-lg-5 ">
            <h4  class="head-categ text-center pt-4 p-lg-0 "data-aos="fade-up"data-aos-delay="50">
                CHECK OUT OUR CATEGORIES
            </h4>
            <!-- <div class="flexy w-100">
                <div style="background-color: white;height: 2px; width: 20%;">
                </div>
            </div> -->
            <div class="cards-list">
                <a class="card3" href="{% url 'price_low' %}"
                     style="background-image: url('{% static 'images/car.jpg'%}'); ">
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>3D</span>  ARTISTS
                        </h4>
                        <p>
                            Bringing your ideas to life through 3D modeling
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'photoshop' %}"
                style="background-image: url('{% static 'images/Moon-Photoshop.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>PHOTO</span>SHOP
                        </h4>
                        <p >
                            Make your photos look Amazing with our Photoshop services
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'ui_design' %}"
                style="background-image: url('{% static 'images/ui1.jpg'%}'); ">
                 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span> UI </span>DESIGN
                        </h4>
                        <p>
                            UI/UX design for web pages to enhance your users' experience
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'house_plans'%}"
                style="background-image: url('{% static 'images/house.jpg'%}'); ">
                     
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>HOUSE</span> PLANS
                        </h4>
                        <p>Professional house plans for your Dream Home</p>
                        
                    </div>
                </a>
                <a class="card3" href="{% url 'logo_creation'%}"
                style="background-image: url('{% static 'images/b-letter-boutique-logo-design-159417325.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>LOGO</span> CREATION
                        </h4>
                        <p>
                            Make your brand look its best with our logo design services.
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'drawings'%}"
                
                style="background-image: url('{% static 'images/images (6) 1.png' %}'); ">
 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>DRAW</span>INGS 
                        </h4>
                        <p >
                            Precision drawings that can help you realize your visions
                        </p> 
                    </div>
                </a>
            </div>
        </section>
        <style>
            .head-categ
            {
                font-weight: 700;   
                letter-spacing: 0.04em; 
                color: rgb(222, 222, 222);
            }
            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 2.1em;
                background: #111010;
            }
            .flex h4{
                margin-top: 7.5em;
            }
            .flex p{
                color: rgb(209, 209, 209);
                line-height: 1.6em;
                letter-spacing: 0.04em;
                font-size: 15px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 0.60em;
                margin-bottom: 0.90em;
                font-weight: 500;
                
            }
            .flex span{
                color: #fcd731;
                font-size: 1em;
                font-weight: 700;
            }

            .cards-list {
                z-index: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 2em;
               
               
            }

            .card3 {
                margin: 30px auto;
                width: 380px;
                height: 380px;

                background-size: 100% 100%;
                cursor: pointer;
                transition: 0.4s;
              border-radius: 15%;
              background-color: rgb(0, 0, 0);
            }

            .dark1 {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 15%;
            }
            .dark1 p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .card3:hover .dark1 {
                background-color: rgba(0, 0, 0, 0.8);
                transition: 1s;

            }

            @media all and (max-width: 800px) {
                .card-list {
                    /* On small screens, we are no longer using row direction but column */
                    flex-direction: column;
                }

                .card3 {
                    margin: 10px auto;
                    width: 90%;
                    height: 250px;
                }
                .head-categ
                {
                    font-weight: 600;   
                    letter-spacing: 0.01em; 
                    color: rgb(222, 222, 222);
                    font-size: 1em;
                    margin-bottom: 1.4em;
                }
                .flex h4{
                    margin-top: 5.5em;
                }



            }
        </style>
    </section>
{% endblock %}
