{% extends 'admin_base.html' %} 
{% load static%} 
{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    #dataTable
    {
      font-size: 13px;
    }
   
  .postcard
  {
    padding: 1em 1.2em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  }

  </style>
 
  <div class="container-fluid" id="work_check" >
    
      <div class="row g-2">
        <div class="col-lg-12">
          <div class="container-fluid p-0" id="work-details"></div>
          <!-- Begin Page Content -->
          <div class="container-fluid p-0 mt-3">

            
            <!-- DataTales Example -->
            <div class="card shadow mt-3 mb-4  ">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Completed Works</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                  <th>Category</th>
                                  <th>User</th>
                                  <th>Freelancers</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>File</th>
                                  
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                  <th>Category</th>
                                  <th>User</th>
                                  <th>Freelancers</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>File</th>
                                  
                                    
                                </tr>
                            </tfoot>
                            <tbody>
                              {% for i in fr %}
                              {% if i.fr_status == '1' %}
                                <tr>
                                  <td>{{i.fr_categori}}</td>
                                  <td>{{i.fr_user}}</td>
                                  <td>{{i.frelancer.full_name}}</td>
                                  <td>{{i.start_date}}</td>
                                  <td>{{i.end_date}}</td>

                                  <td>
                                    {% if i.fr_file %}
                                    <a href="{{i.fr_file.url}}" download="{{i.fr_file.url}}"><i class="fa fa-file" style="color: rgb(255, 5, 72);"></i></a>
                                    {% else %} 
                                    <a href="#" ><i class="fa fa-file" style="color: rgb(255, 5, 72);"></i></a> 
                                    {% endif %}
                                   </td>
                                  
                                    
                                </tr>
                                {% endif %}
                              {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
        </div>
      </div>
      
  </div>





{% if msg %}
<script>
   
    $( "#success-btn" ).ready(function() {
        $( "div.success" ).fadeIn( 300 ).delay( 2500 ).fadeOut( 400 );
      });
</script>
{% endif %}




{% endblock %}


