
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>
<style>
    .row
    {
        display: flex;
        justify-content:center;
        text-align:center;
        flex-wrap: wrap;
        gap: 1em;
    }
    @media(max-width-932px)
    {
        .row
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1em;
    }
    }
    .card{
        
    }
    .card img
    {
        object-fit: fill;
    }


</style>

<body>
   
        <!-- <div class="row g-2"> 
            <div class="col-lg-4 col-md-4 col-sm-12"> 
                <div class="product-wrapper"> 
                    <div class="product-img"> 
                        <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>	
                            <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span> 
                            <div class="product-action"> <div class="product-action-style"> 
                                <a href="#"> <i class="fa fa-plus"></i> </a> 
                                <a href="#"> <i class="fa fa-heart"></i> </a> 
                                <a href="#"> <i class="fa fa-shopping-cart"></i> </a> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
            <div class="col-lg-4"> 
                <div class="product-wrapper "> 
                    <div class="product-img"> 
                        <a href="#" data-abc="true"> <img src="https://i.imgur.com/tL7ZE46.jpg" alt=""> </a>	
                            <span class="text-center"><i class="fa fa-rupee"></i> 43,000</span> 
                            <div class="product-action"> <div class="product-action-style"> 
                                <a href="#"> <i class="fa fa-plus"></i> </a> 
                                <a href="#"> <i class="fa fa-heart"></i> </a> 
                                <a href="#"> <i class="fa fa-shopping-cart"></i> </a> 
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </div>	
   -->

    <div class="row">
        {% for p in all %}
        <div class="col">
          <div class="card">
            <img src="{{p.gib.url}}" alt="">
          </div>
        </div>
        {% endfor %}
        
      </div>
  
        
</body>
</html>