{% extends 'admin_base.html' %}
 {% load static%} 
 {% block body %}


 <!-- Begin Page Content -->
 <div class="container-fluid">
  {% for i in adm %}
  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800"> Freelancers </h1>
     
  </div>
  {% endfor %}

  <!-- Content Row -->
  <div class="row g-3">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-xl-3 col-md-6 col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 1 %}">
  
            <div class="card border-left-info  shadow h-100 py-2" id="card1">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                              UI DESIGNS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{enq}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
         <!-- Pending Requests Card Example -->
         <div class="col-xl-3 col-md-6 col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 2 %}">
  
            <div class="card border-left-warning shadow h-100 py-2" id="card2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                              PHOTO SHOPS </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{enq}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div> 
  
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6  col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 3 %}">
  
            <div class="card border-left-primary shadow h-100 py-2" id="card3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                              HOUSE PLANS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
  
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6  col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 4 %}">
  
            <div class="card border-left-success shadow h-100 py-2" id="card4">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                              LOGO CREATION</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{models}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
  
        <div class="col-xl-3 col-md-6 col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 5 %}">
  
          <div class="card border-left-warning shadow h-100 py-2" id="card5">
              <div class="card-body">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            DRAWINGS </div>
                          <div class="h5 mb-0 font-weight-bold text-gray-800">{{enq}}</div>
                      </div>
                      <div class="col-auto">
                          <i class="fas fa-users fa-2x text-gray-300"></i>
                      </div>
                  </div>
              </div>
          </div>
      </a>
      </div> 
  
        <div class="col-xl-3 col-md-6 col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 6 %}">
  
            <div class="card border-left-secondary shadow h-100 py-2" id="card6">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-secondary  text-uppercase mb-1">
                              3D MODELS</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{models}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
            
        </div>
        <div class="col-xl-3 col-md-6  col-sm-3 mb-4">
          <a href="{% url 'sortby_freelances' 7 %}">
  
            <div class="card border-left-primary shadow h-100 py-2" id="card3">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                             Other</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-users fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
          </a>
        </div>
  
    </div>
    </div>
  </div>

  <div class="container-fluid "  id="details">
    <div class="row">
      {% for i in person %}
        <div class="col-lg-3"  id="card-details{{i.id}}">
          <div class="card">
          <input type="text" value="{{i.id}}" id="perid{{i.id}}" hidden>
          <figure class="fir-image-figure">
               <input type="text" value="{{i.id}}" id="perid{{i.id}}" hidden>
            <a class="fir-imageover" rel="noopener" target="_blank" href="https://twitter.com/_davideast">
              <img class="fir-author-image fir-clickcircle" src="{{i.free_id.profile_pic.url}}" alt="Image">
              <div class="fir-imageover-color"></div>
              <img class="fir-imageover-image fir-clickcircle" src="{{i.free_id.profile_pic.url}}" alt="Image" />
            </a>
  
            <figcaption>
              <div class="fig-author-figure-title main-head">{{i.free_id.full_name}}</div>
              <div class="fig-author-figure-title">{{i.service}} &#8212; 
                <span>
                  {% if i.w_status == '1' %}  
                  <i class="fa fa-circle" style="color: #f42f07;"></i>
                  {% else %}
                  <i class="fa fa-circle" style="color: #08da24;"></i>
                  {% endif %}
                </span>
              </div>
            
              <a href="{% url 'freelancer_delete' i.id %}"><i class="fa fa-trash fa-1x text-gray-300 " aria-hidden="true"></i></a>
            </figcaption>
          </figure>
        </div>
        </div>
       
      {% endfor %}
    </div>
  </div>

  <div class="container-fluid" id="full-deatils"></div>

  <!-- Eroor message  section CSS and Code-->
  <style>
    .error-message-box
    {
      width: 100%;
      display: flex;
      justify-content:space-between;
    }
    .error-message-box ul li 
    {
      list-style: none;
      font-size: 15px;
      width: 100%;
      padding: 0.30em 0em;
      font-style: italic;
      line-height: 1.6em;
    }
    #close-button
    {
      background: #000;
      padding-left: 0.50em;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
    }
    #close-button i{
      color: rgb(255, 255, 255);
      font-size: 11px;
    }
  </style>

  {% if messages %}
  <div class="alert alert-danger  error-message-box" id="your-div">  
    <div>
      <ul class="messages">
        {% for message in messages %}
       <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>
         <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;&nbsp;{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="text-end pr-2" id="close-button">
      <i class="fa fa-times" aria-hidden="true" ></i>
     </div>
  </div>
</div>
{% endif %}

<style>
  #details .card
  {
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin-bottom: 0.80em;
    border: none;
    background: linear-gradient(150deg, #39ef74, #4600f1 100%);
  }

  #details   .fir-clickcircle {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    cursor: pointer;
  }
  
  #details   .fir-image-figure {
    margin: 0;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    position: relative;
    text-decoration: none;
  }
  
  #details  .fir-image-figure .caption,   #details  .fir-image-figure figcaption {
    padding-left: 40px;
    color: #fff;
  }
  
 
  #details .fir-image-figure .fig-author-figure-title {
    color: var(--fir-color-grey);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top:0.50em;
  }
  #details .fir-image-figure .main-head
  {
    font-size: 0.95rem;
    font-weight: 600;
  }
  
  #details   .fir-imageover {
    position: relative;
    display: flex;
  }
  

  #details   .fir-imageover-image {
    position: absolute;
    top: 0;
    left: 0;
    
  }
  #details span
  {
    animation: fadeInFadeOut 2s infinite;
  }
  
  @keyframes fadeInFadeOut {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  #details a{
    font-size: 13px;
    margin-top: 0.80em;
   color: #f94627;
  }
</style>




<style>
  #full-deatils .emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#full-deatils .profile-img{
    text-align: center;
   

}
#full-deatils .profile-img img{
    width: 90px;
    height: 90px;
}

#full-deatils .profile-head h5{
    color: #333;
}
#full-deatils .profile-head h6{
    color: #0062cc;
}
#full-deatils .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
    font-size: 13px;
    color: #fff;
    background: #000;
}
#full-deatils .rating
{
  width: 60%;
  margin-bottom: 0.80em;
  font-size: 12px;
  padding: 0.20em 0.60em;
}
#full-deatils .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
#full-deatils .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
#full-deatils .profile-head .nav-tabs{
    margin-bottom:5%;
}
#full-deatils .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
#full-deatils .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
#full-deatils .profile-work{
    padding: 14%;
    margin-top: -15%;
}
#full-deatils .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
#full-deatils .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
#full-deatils .profile-work ul{
    list-style: none;
}
#full-deatils .profile-tab label{
    font-weight: 600;
}
#full-deatils .profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
</style>






<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
<script src="https://code.jquery.com/jquery-3.4.1.min.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>



{% for i in person %}
<script type="text/javascript">
  $("#card-details{{i.id}}").click(function () {
    const persid = $('#perid{{i.id}}').val();
    console.log(persid);
      $.ajax({
          url: '{% url "freelances_details" %}',
          data: {
              'persid': persid
          },

          success: function (data) {
              $("#full-deatils").html(data);
              console.log(data);
          }
      });

  });

</script>
{% endfor %}

<script>
  var closeButton = document.getElementById("close-button");
  console.log('clicked')
  var div = document.getElementById("your-div");
  closeButton.addEventListener("click", function(){
      div.style.display = "none";
  });
</script>

{% endblock %}