{% extends 'base.html' %}
{% load static %}



{% block body %}
    <section class="reg ">
        <div class="container-scroller reg1 py-lg-4">
            <div class="container-fluid page-body-wrapper full-page-wrapper ">
                <div class="content-wrapper d-flex align-items-center auth px-0 coat ">
                    <div class="row w-100 mx-0  ">
                        <div class="col-12 col-md-6 col-lg-8 mx-auto "
                             style="background-color:rgba(0,0,0,0);">
                            <div class="auth-form-light text-left py-5 px-4 text-dark bg-light shadow"
                                 style="background-color:rgba(250,250,250,.1);
                                        backdrop-filter:blur(20px);">
                                <h2 style="font-weight:600;" class="text-center">
                                    FREELANCE<span class="text-danger "> REGISTER</span>
                                </h2>
                                <h6 class="text-center">Hello! let's get started</h6>
                                
                                <form class="pt-3 "
                                      action="{% url 'freereg' %}"
                                      method="post"
                                      autocomplete="off"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control form-control-lg "
                                               name="name"
                                               placeholder="Name"
                                               autocomplete
                                               off
                                               Required>
                                    </div>
                                    <div class="form-group">
                                        <label  for="exampleInputEmail1">Upload your profile photo</label>
                                        <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="profile_picture" placeholder="Resume" autocomplet off Required>
                                    </div>
                                    <div class="form-group">
                                        <textarea type="text"
                                               class="form-control form-control-lg "
                                               name="address"
                                               placeholder="Address"
                                               autocomplete
                                               off
                                               Required></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="email"
                                               class="form-control form-control-lg "
                                               id="email"
                                               pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                               name="email"
                                               placeholder="Email"
                                               autocomplete
                                               off
                                               Required>
                                               <br>
                                               <span id="useremail-message"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="number"
                                               class="form-control form-control-lg "
                                               
                                               name="phone_number"
                                               placeholder="phone number"
                                               autocomplete
                                               off
                                               Required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg "  name="quali" placeholder="Qualification" autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-lg "  name="desi" placeholder="Designation" autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <select type="text" class="form-control form-control-lg "  name="service"  autocomplet off Required>
                                            <option value="">.........select service...........</option>
                                            {% for i in cate %}
                                            <option value="{{i.category_name}}">{{i.category_name}}</option>
                                            {% endfor %}
                                            
                                        </select>
                                    </div>


                                    <div class="form-group">
                                        <label  for="exampleInputEmail1">Upload Resume</label>
                                        <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="resume" placeholder="Resume" autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        
                                        <input type="text" class="form-control form-control-lg " id="exampleInputEmail1" name="Expirence" placeholder="Total year of Experience" autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <label  for="exampleInputEmail1">Upload your pervious work 1</label>
                                        <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="first_work"  autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <label  for="exampleInputEmail1">Upload your pervious work 2</label>
                                        <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="example_work"  autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <label  for="exampleInputEmail1">Upload your pervious work 3</label>
                                        <input type="file" class="form-control form-control-lg" name="previous_work_3"  autocomplet off Required>
                                    </div>

                                    <div class="form-group">
                                        <textarea type="text"
                                               class="form-control form-control-lg "
                                               name="overview"
                                               placeholder="overview"
                                               autocomplete
                                               off
                                               Required></textarea>
                                    </div>

                                    <div class="form-group">
                                        <input type="text"
                                               class="form-control form-control-lg "
                                               id="username"
                                               name="user_name"
                                               placeholder="username"
                                               autocomplete
                                               off
                                               Required>
<br>
                                               <span id="username-message" class=" pl-3"></span>
                                    </div>

                              
                                    <div class="form-group">
                                        <input type="password" id="password"
                                               class="form-control form-control-lg "
                                              
                                               name="password"
                                               pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$"
                                               placeholder="Password"
                                               autocomplete
                                               off
                                               Required>
                                              <br>
                                               <span id="password-strength" ></span>
                                               
                                               <script>
                                                 // Get the password input field and the password strength message
                                                 const passwordInput = document.getElementById("password");
                                                 const passwordStrength = document.getElementById("password-strength");
                                                 
                                                 // Add an event listener to the password input field to check the strength of the password when it is changed
                                                 passwordInput.addEventListener("input", function() {
                                                   // Get the password from the input field
                                                   const password = passwordInput.value;
                                                   
                                                   // Check the password strength
                                                   if (password.length < 8 ) {
                                                   
                                                     // If the password is less than 8 characters, show a message indicating that it is too short
                                                     passwordStrength.innerHTML = "Password must be at least 8 characters long";
                                                     passwordStrength.style.color = "blue";
                                                     passwordStrength.style.fontSize = "13px";
                                                   } else {
                                                     // If the password is at least 8 characters, check if it meets the other strength requirements (uppercase, lowercase, digit, special character)
                                                     const strengthRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
                                                     if (strengthRegex.test(password)) {
                                                       // If the password meets the other strength requirements, show a message indicating that it is strong
                                                       passwordStrength.innerHTML = "Strong password";
                                                       passwordStrength.style.color = "green";
                                                       passwordStrength.style.fontSize = "13px";
                                                     } else {
                                                       // If the password does not meet the other strength requirements, show a message indicating that it is weak
                                                       passwordStrength.innerHTML = "Weak password";
                                                       passwordStrength.style.color = "red";
                                                       passwordStrength.style.fontSize = "13px";
                                                     }
                                                   }
                                                 });
                                                 
                                               </script>
                                               
                                    </div>
                                    <div class="form-group">
                                        <input type="password"
                                               class="form-control form-control-lg "
                                               id="conpassword"
                                               name="cpassword"
                                               placeholder="Confirm Password"
                                               autocomplete
                                               off
                                               Required>

                                               <br>

                                               <span id="password-match"></span>

                                            <script>
                                            // Get the password input fields and the password match message
                                            const password1Input = document.getElementById("password");
                                            const password2Input = document.getElementById("conpassword");
                                            const passwordMatch = document.getElementById("password-match");

                                            // Add an event listener to the password input fields to check if the passwords match when either of them is changed
                                            password1Input.addEventListener("input", checkPasswords);
                                            password2Input.addEventListener("input", checkPasswords);

                                            function checkPasswords() {
                                                // Get the passwords from the input fields
                                                const password1 = password1Input.value;
                                                const password2 = password2Input.value;

                                                // Check if the passwords match
                                                if (password1 === password2) {
                                                // If the passwords match, show a message indicating that they match
                                                passwordMatch.innerHTML = "Passwords match";
                                                passwordMatch.style.color = "green";
                                                passwordMatch.style.fontSize = "13px";
                                                
                                                } else {
                                                // If the passwords don't match, show a message indicating that they don't match
                                                passwordMatch.innerHTML = "Passwords do not match";
                                                passwordMatch.style.color = "red";
                                                passwordMatch.style.fontSize = "13px";
                                                
                                                }
                                            }
                                            </script>

                                    </div>
                                   
                                    
                                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                    
                                    <style>i
                            input:-webkit-autofill {
                            color: #2a2a2a !important;
                        }
                            input{
                                color:white;
                            }
                            .form-group{
                                margin-bottom:20px;

                            }
                            .reg{
                                background-image:url('https://c4.wallpaperflare.com/wallpaper/995/152/891/assassins-creed-4k-windows-wallpaper-preview.jpg');
                                background-size: 100% 100%;
                background-repeat: no-repeat;

                            }
                            .reg1{
                                background-color:rgba(0,0,0,.6)
                            }
                            html{
                                scroll-behavior: smooth;
                            }
                            .hide{
                                display: none;
                            }
                                    </style>
                                    <div class="mt-3">
                                        <button type="submit"
                                                class="btn btn-block btn-danger w-100  font-weight-medium auth-form-btn">SIGN UP</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    

    <script>

        const set_password =()=>{
            console.log('work')
            document.getElementById('password_set').classList.remove('hide');
        }

        $(document).ready(function(){
            console.log('run')
            $('.alert').hide(4000);
        })

    </script>    


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 


    {% if msg %}
    <script>
        swal("Good job!", '{{msg}}', "success")
    </script>
    {% endif %}

    <script>
        // Get the username input field and the username message element
        const useremailInput = document.getElementById("email");
        const useremailMessage = document.getElementById("useremail-message");
      
        // Add an event listener to the username input field to listen for changes
        useremailInput.addEventListener("input", function() {
          // Get the value of the username input field
          const useremail = useremailInput.value;
      
          // Send an Ajax request to the check_username route with the username as a parameter
          $.ajax({
            url: '{% url "check_useremail" %}',
            data: {
              'useremail': useremail
            },
            dataType: 'json',
            success: function (data) {
              if (data.exists) {
                // If the username exists, show a message indicating that it exists
                useremailMessage.innerHTML = "Email id already exists";
                useremailMessage.style.color = "red"
                useremailMessage.style.fontSize = "12px"
  
              }
             
            }
          })
          useremailInput.addEventListener("input", function() {
            useremailMessage.innerHTML = "";
          })
      })
              
      </script>



    <script>
        // Get the username input field and the username message element
        const usernameInput = document.getElementById("username");
        const usernameMessage = document.getElementById("username-message");
      
        // Add an event listener to the username input field to listen for changes
        usernameInput.addEventListener("input", function() {
          // Get the value of the username input field
          const username = usernameInput.value;
      
          // Send an Ajax request to the check_username route with the username as a parameter
          $.ajax({
            url: '{% url "check_username" %}',
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              if (data.exists) {
                // If the username exists, show a message indicating that it exists
                usernameMessage.innerHTML = "Username already exists";
                usernameMessage.style.color = "red"
                usernameMessage.style.fontSize = "12px"
  
              }
             
            }
          })
          usernameInput.addEventListener("input", function() {
              usernameMessage.innerHTML = "";
          })
      })
              
      </script>
    
{% endblock %}
