{% extends 'base.html' %}
{% load static %}



{% block body %}

<style>
    #register-box
    {
        padding: 2em 3em;
        
        /*background: rgb(234, 234, 234);*/
        background: url('static/images/register-bg.png');
        background-size: cover;

        
    }
    #register-box .container
    {
        display: grid;
        grid-template-columns: 1.2fr 2fr;
        gap: 1em;
    }
    .register-img
    {
        
       
        padding: 3em 0.10em

    }
    .register-img img{
        width: 100%;
        height: 90%;
    }
    .register-img h4{
        font-size: 1.8em;
        font-weight: 700;
        letter-spacing: 0.05em;
        margin-bottom: 1em;
    }
    .register-img p{
        font-size: 0.95em;
        line-height: 1.7em;
        letter-spacing: 0.04em;
        margin-bottom: 3em;
    }
    .bcak-btns
    {
        text-align:start;
       
    }
    .bcak-btns a{
        background-image: linear-gradient(to right, #3ab5b0 0%, #3d99be 31%, #56317a 100%);
       
        padding: 0.50em 2.5em;
        border: none;
      
        color: #fff;
        font-size: 0.93em;
        letter-spacing: 0.05em;
        font-weight: 500;
    }
    .register-form 
    {
        background: transparent
    }
    .register-form .card
    {
        background: transparent;
        border: none;
        padding: 1em ;
    }
    .register-form .card h4{
        font-size: 1.4em;
        font-weight: 600;
        color: #fff;
        letter-spacing: 0.07em;
        line-height: 1.8em;
        border-bottom: 3px solid #32557f;
        font-family: 'Times New Roman', Times, serif;
        
    }
    .information-box 
    {
        display: grid;
        grid-template-columns:1fr 2.7fr ;
        padding-top: 3em;
    }
    .profile-pic
    {
        width: 100px;
        height: 130px;
    }
    .profile-pic img{
        width: 110%;
        height: 100%;
    }
    .details label, textarea
    {
        margin-bottom: 0.50em;
        color: rgb(251, 251, 251);
        letter-spacing: 0.04em;
        font-size: 0.85em;
        margin-top: 0.80em;
    }
    .details .insert-group input, textarea{
        width: 95%;
        background:transparent;
        border: none;
        border-bottom: 1px solid #32557f;
        color: #fff;
        font-size: 0.84em;
    }
    .details .insert-group input:focus, textarea:focus{
        outline: none;
        background:transparent;
    }
    .buttons-box
    {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

  .confirm-box button{
    padding: 0.50em 1.5em;
    border: none;
   background-image: linear-gradient(to right, #ec77ab 0%, #7873f5 100%);
    color: #fff;
    font-size: 0.93em;
    letter-spacing: 0.05em;
    font-weight: 500;
  }

  @media(width <= 850px)
  {
    #register-box .container
    {
        grid-template-columns: repeat(1,2.5fr);
    }
    #register-box .container .register-img:nth-of-type(1)
    {
        order: 2;
    }
    #register-box
    {
        padding: 0.40em 0.10em;
    }
    .register-img 
    {
        height: auto;
        
    }
    .information-box 
    {
        grid-template-columns:repeat(1,2.7fr);
        padding-top: 0.20em;
       
    }
    .profile-pic
    {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        border-radius: 50%;
        margin-bottom: 1em;   
    }
    .profile-pic img 
    {
        border-radius: 50%;
        width: 95%;
        height: 80%;
    }
    .details .insert-group input{
        width: 100%;
    }

    }
</style>

<!--Register form -->

<section id="register-box">

    <div class="container">
        <div class="register-img">
            <img src="static/images/freelance.webp">
            <!-- <h4>INFORMATION</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Suspendisse maximus dignissim lacus vitae mollis. 
                Integer non urna sit amet nunc finibus iaculis a nec libero.
            </p>
            -->
        </div>
        <div class="register-form">
            <div class="card">
                <form class="" action="{% url 'freereg' %}"  method="post" autocomplete="off" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4>Register Form</h4>
                  
                    <div class="information-box">
                        <div class="profile-pic">
                            <img src="{% static 'images/profile-dummy.png'  %}" id="preview" alt="Profie-Image">
                        </div>
                        <div class="details">
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label>Profile Image</label>
                                    <div class="insert-group">
                                        <input type="file" id="fileInput"  name="profile_picture" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Full Name</label>
                                    <div class="insert-group">
                                        <input type="text"  name="name"required>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="insert-group">
                                        <label>Phone Number</label>
                                        <input type="tel" name="phone_number"  pattern="[789][0-9]{9}" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Email Id</label>
                                    <div class="insert-group">
                                        <input type="email"  name="email"  pattern="[^@\s]+@[^@\s]+\.[^@\s]+" autocomplete off required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>User Name</label>
                                    <div class="insert-group">
                                      
                                        <input type="text" id="username" name="user_name" required>
                                    </div>
                                </div>
                               
                                <div class="col-lg-6">
                                    <label>Create Password</label>
                                    <div class="insert-group">
                                       
                                        <input type="password" id="password"  name="password"  pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$" required>  
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Confirm Password</label>
                                    <div class="insert-group">
                                       
                                        <input type="password" id="conpassword" name="cpassword" required>  
                                    </div>
                                </div>
                               
                            </div>
                            <div class="row g-2">
                                <div class="col-lg-6">
                                    <label>Upload Resume</label>
                                    <div class="insert-group">
                                        <input type="file"   name="resume" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Qualification</label>
                                    <div class="insert-group">
                                        <input type="text"   name="quali" required>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6">
                                    <div class="insert-group">
                                        <label>Profession </label>
                                        <input type="text" name="desi" required>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label>Total Year Experience</label>
                                    <div class="insert-group">
                                        <input type="text"  name="Expirence"  required>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label>Over View</label>
                                    <div class="insert-group">
                                      <textarea name="overview"></textarea>
                                    </div>
                                </div>
                               
                              
                            </div>
                        </div>

                    </div>
                    <div class="war-message-boxmt mt-3 text-center" >
                        <span id="password-strength" ></span><br>
                        <span id="password-match"></span>
                    </div>
                   
                    <div class="buttons-box">
                        <div class="bcak-btns">
                            <a href="{% url 'home' %}">Back </a>
                        </div>
                        <div class="confirm-box">
                            <button type="submit">Save and Next</button>
                           
                        </div>
                       
                    </div>
                    

                   
                  
                </form>

            </div>
        </div>
    </div>
    
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" ></script>


<!-- Preview of an image -->


<script>
  const fileInput = document.getElementById('fileInput');
  const preview = document.getElementById('preview');

  fileInput.addEventListener('change', function() {
    const file = fileInput.files[0];
    const reader = new FileReader();

    reader.addEventListener('load', function() {
      preview.src = reader.result;
    });

    if (file) {
      reader.readAsDataURL(file);
    }
  });
</script>

<!-- End of Script -->

<!-- Script for password match -->
<script>
    // Get the password input field and the password strength message
    const passwordInput = document.getElementById("password");
    const passwordStrength = document.getElementById("password-strength");
    
    // Add an event listener to the password input field to check the strength of the password when it is changed
    passwordInput.addEventListener("input", function() {
      // Get the password from the input field
      const password = passwordInput.value;
      
      // Check the password strength
      if (password.length < 8 ) {
      
        // If the password is less than 8 characters, show a message indicating that it is too short
        passwordStrength.innerHTML = "Password must be at least 8 characters long";
        passwordStrength.style.color = "blue";
        passwordStrength.style.fontSize = "13px";
      } else {
        // If the password is at least 8 characters, check if it meets the other strength requirements (uppercase, lowercase, digit, special character)
        const strengthRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
        if (strengthRegex.test(password)) {
          // If the password meets the other strength requirements, show a message indicating that it is strong
          passwordStrength.innerHTML = "Strong password";
          passwordStrength.style.color = "green";
          passwordStrength.style.fontSize = "13px";
        } else {
          // If the password does not meet the other strength requirements, show a message indicating that it is weak
          passwordStrength.innerHTML = "Weak password";
          passwordStrength.style.color = "red";
          passwordStrength.style.fontSize = "13px";
        }
      }
    });
    
  </script>


  
  <script>
    // Get the password input fields and the password match message
    const password1Input = document.getElementById("password");
    const password2Input = document.getElementById("conpassword");
    const passwordMatch = document.getElementById("password-match");

    // Add an event listener to the password input fields to check if the passwords match when either of them is changed
    password1Input.addEventListener("input", checkPasswords);
    password2Input.addEventListener("input", checkPasswords);

    function checkPasswords() {
        // Get the passwords from the input fields
        const password1 = password1Input.value;
        const password2 = password2Input.value;

        // Check if the passwords match
        if (password1 === password2) {
        // If the passwords match, show a message indicating that they match
        passwordMatch.innerHTML = "Passwords match";
        passwordMatch.style.color = "green";
        passwordMatch.style.fontSize = "13px";
        
        } else {
        // If the passwords don't match, show a message indicating that they don't match
        passwordMatch.innerHTML = "Passwords do not match";
        passwordMatch.style.color = "red";
        passwordMatch.style.fontSize = "13px";
        
        }
    }
    </script>

<!-- End Register form -->
    

    

    <script>

        const set_password =()=>{
            console.log('work')
            document.getElementById('password_set').classList.remove('hide');
        }

        $(document).ready(function(){
            console.log('run')
            $('.alert').hide(4000);
        })

    </script>    


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 


    {% if msg %}
    <script>
        swal("Good job!", '{{msg}}', "success")
    </script>
    {% endif %}

    <script>
        // Get the username input field and the username message element
        const useremailInput = document.getElementById("email");
        const useremailMessage = document.getElementById("useremail-message");
      
        // Add an event listener to the username input field to listen for changes
        useremailInput.addEventListener("input", function() {
          // Get the value of the username input field
          const useremail = useremailInput.value;
      
          // Send an Ajax request to the check_username route with the username as a parameter
          $.ajax({
            url: '{% url "check_useremail" %}',
            data: {
              'useremail': useremail
            },
            dataType: 'json',
            success: function (data) {
              if (data.exists) {
                // If the username exists, show a message indicating that it exists
                useremailMessage.innerHTML = "Email id already exists";
                useremailMessage.style.color = "red"
                useremailMessage.style.fontSize = "12px"
  
              }
             
            }
          })
          useremailInput.addEventListener("input", function() {
            useremailMessage.innerHTML = "";
          })
      })
              
      </script>



    <script>
        // Get the username input field and the username message element
        const usernameInput = document.getElementById("username");
        const usernameMessage = document.getElementById("username-message");
      
        // Add an event listener to the username input field to listen for changes
        usernameInput.addEventListener("input", function() {
          // Get the value of the username input field
          const username = usernameInput.value;
      
          // Send an Ajax request to the check_username route with the username as a parameter
          $.ajax({
            url: '{% url "check_username" %}',
            data: {
              'username': username
            },
            dataType: 'json',
            success: function (data) {
              if (data.exists) {
                // If the username exists, show a message indicating that it exists
                usernameMessage.innerHTML = "Username already exists";
                usernameMessage.style.color = "red"
                usernameMessage.style.fontSize = "12px"
  
              }
             
            }
          })
          usernameInput.addEventListener("input", function() {
              usernameMessage.innerHTML = "";
          })
      })
              
      </script>
    
{% endblock %}

<section class="reg ">
    <div class="container-scroller reg1 py-lg-4">
        <div class="container-fluid page-body-wrapper full-page-wrapper ">
            <div class="content-wrapper d-flex align-items-center auth px-0 coat ">
                <div class="row w-100 mx-0  ">
                    <div class="col-12 col-md-6 col-lg-8 mx-auto "
                         style="background-color:rgba(0,0,0,0);">
                        <div class="auth-form-light text-left py-5 px-4 text-dark bg-light shadow"
                             style="background-color:rgba(250,250,250,.1);
                                    backdrop-filter:blur(20px);">
                            <h2 style="font-weight:600;" class="text-center">
                                FREELANCE<span class="text-danger "> REGISTER</span>
                            </h2>
                            <h6 class="text-center">Hello! let's get started</h6>
                            
                            <form class="pt-3 "
                                  action="{% url 'freereg' %}"
                                  method="post"
                                  autocomplete="off"
                                  enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text"
                                           class="form-control form-control-lg "
                                           name="name"
                                           placeholder="Name"
                                           autocomplete
                                           off
                                           Required>
                                </div>
                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Upload your profile photo</label>
                                    <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="profile_picture" placeholder="Resume" autocomplet off Required>
                                </div>
                                <div class="form-group">
                                    <textarea type="text"
                                           class="form-control form-control-lg "
                                           name="address"
                                           placeholder="Address"
                                           autocomplete
                                           off
                                           Required></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="email"
                                           class="form-control form-control-lg "
                                           id="email"
                                           pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
                                           name="email"
                                           placeholder="Email"
                                           autocomplete
                                           off
                                           Required>
                                           <br>
                                           <span id="useremail-message"></span>
                                </div>
                                <div class="form-group">
                                    <input type="number"
                                           class="form-control form-control-lg "
                                           
                                           name="phone_number"
                                           placeholder="phone number"
                                           autocomplete
                                           off
                                           Required>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg "  name="quali" placeholder="Qualification" autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-lg "  name="desi" placeholder="Designation" autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <select type="text" class="form-control form-control-lg "  name="service"  autocomplet off Required>
                                        <option value="">.........select service...........</option>
                                        {% for i in cate %}
                                        <option value="{{i.category_name}}">{{i.category_name}}</option>
                                        {% endfor %}
                                        
                                    </select>
                                </div>


                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Upload Resume</label>
                                    <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="resume" placeholder="Resume" autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    
                                    <input type="text" class="form-control form-control-lg " id="exampleInputEmail1" name="Expirence" placeholder="Total year of Experience" autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Upload your pervious work 1</label>
                                    <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="first_work"  autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Upload your pervious work 2</label>
                                    <input type="file" class="form-control form-control-lg " id="exampleInputEmail1" name="example_work"  autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Upload your pervious work 3</label>
                                    <input type="file" class="form-control form-control-lg" name="previous_work_3"  autocomplet off Required>
                                </div>

                                <div class="form-group">
                                    <textarea type="text"
                                           class="form-control form-control-lg "
                                           name="overview"
                                           placeholder="overview"
                                           autocomplete
                                           off
                                           Required></textarea>
                                </div>

                                <div class="form-group">
                                    <input type="text"
                                           class="form-control form-control-lg "
                                           id="username"
                                           name="user_name"
                                           placeholder="username"
                                           autocomplete
                                           off
                                           Required>
<br>
                                           <span id="username-message" class=" pl-3"></span>
                                </div>

                          
                                <div class="form-group">
                                    <input type="password" id="password"
                                           class="form-control form-control-lg "
                                          
                                           name="password"
                                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,16}$"
                                           placeholder="Password"
                                           autocomplete
                                           off
                                           Required>
                                          <br>
                                           <span id="password-strength" ></span>
                                           
                                           <script>
                                             // Get the password input field and the password strength message
                                             const passwordInput = document.getElementById("password");
                                             const passwordStrength = document.getElementById("password-strength");
                                             
                                             // Add an event listener to the password input field to check the strength of the password when it is changed
                                             passwordInput.addEventListener("input", function() {
                                               // Get the password from the input field
                                               const password = passwordInput.value;
                                               
                                               // Check the password strength
                                               if (password.length < 8 ) {
                                               
                                                 // If the password is less than 8 characters, show a message indicating that it is too short
                                                 passwordStrength.innerHTML = "Password must be at least 8 characters long";
                                                 passwordStrength.style.color = "blue";
                                                 passwordStrength.style.fontSize = "13px";
                                               } else {
                                                 // If the password is at least 8 characters, check if it meets the other strength requirements (uppercase, lowercase, digit, special character)
                                                 const strengthRegex = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])(?=.{8,})/;
                                                 if (strengthRegex.test(password)) {
                                                   // If the password meets the other strength requirements, show a message indicating that it is strong
                                                   passwordStrength.innerHTML = "Strong password";
                                                   passwordStrength.style.color = "green";
                                                   passwordStrength.style.fontSize = "13px";
                                                 } else {
                                                   // If the password does not meet the other strength requirements, show a message indicating that it is weak
                                                   passwordStrength.innerHTML = "Weak password";
                                                   passwordStrength.style.color = "red";
                                                   passwordStrength.style.fontSize = "13px";
                                                 }
                                               }
                                             });
                                             
                                           </script>
                                           
                                </div>
                                <div class="form-group">
                                    <input type="password"
                                           class="form-control form-control-lg "
                                           id="conpassword"
                                           name="cpassword"
                                           placeholder="Confirm Password"
                                           autocomplete
                                           off
                                           Required>

                                           <br>

                                           <span id="password-match"></span>

                                        <script>
                                        // Get the password input fields and the password match message
                                        const password1Input = document.getElementById("password");
                                        const password2Input = document.getElementById("conpassword");
                                        const passwordMatch = document.getElementById("password-match");

                                        // Add an event listener to the password input fields to check if the passwords match when either of them is changed
                                        password1Input.addEventListener("input", checkPasswords);
                                        password2Input.addEventListener("input", checkPasswords);

                                        function checkPasswords() {
                                            // Get the passwords from the input fields
                                            const password1 = password1Input.value;
                                            const password2 = password2Input.value;

                                            // Check if the passwords match
                                            if (password1 === password2) {
                                            // If the passwords match, show a message indicating that they match
                                            passwordMatch.innerHTML = "Passwords match";
                                            passwordMatch.style.color = "green";
                                            passwordMatch.style.fontSize = "13px";
                                            
                                            } else {
                                            // If the passwords don't match, show a message indicating that they don't match
                                            passwordMatch.innerHTML = "Passwords do not match";
                                            passwordMatch.style.color = "red";
                                            passwordMatch.style.fontSize = "13px";
                                            
                                            }
                                        }
                                        </script>

                                </div>
                               
                                
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                                
                                <style>i
                        input:-webkit-autofill {
                        color: #2a2a2a !important;
                    }
                        input{
                            color:white;
                        }
                        .form-group{
                            margin-bottom:20px;

                        }
                        .reg{
                            background-image:url('https://c4.wallpaperflare.com/wallpaper/995/152/891/assassins-creed-4k-windows-wallpaper-preview.jpg');
                            background-size: 100% 100%;
            background-repeat: no-repeat;

                        }
                        .reg1{
                            background-color:rgba(0,0,0,.6)
                        }
                        html{
                            scroll-behavior: smooth;
                        }
                        .hide{
                            display: none;
                        }
                                </style>
                                <div class="mt-3">
                                    <button type="submit"
                                            class="btn btn-block btn-danger w-100  font-weight-medium auth-form-btn">SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
</section>