
    <div class="row py-5">
        <div class="col-md-5 col-lg-6 col-sm-12 mx-auto"> <!-- Profile widget --> 
            <div class="bg-white shadow rounded overflow-hidden"> 
                <div class="px-4 pt-0 pb-4 cover"> 
                    <div class="media align-items-end profile-head"> 
                        <div class="profile mr-3">
                            <img src="{{per.profile_pic.url}}" alt="Profile -image" width="120" class="rounded mb-2 img-thumbnail">
                        
                        </div> 
                        <div class="media-body mb-5 text-black pt-3"> 
                            <h4 class="mt-0 mb-0">{{per.full_name}}</h4> 
                            <p class="small mb-1"> <i class="fas fa-envelope mr-2"></i>{{per.email}}</p> 
                            <p class="small mb-1"> <i class="fas fa-phone mr-2"></i>{{per.mobile}}</p> 
                            {% for i in r %}
                                <span><i class="fa fa-star" aria-hidden="true" style="color: rgb(255, 213, 3);"></i></span>
                            {% endfor %}
                        </div> 
                    </div> 
                </div> 
                <div class="bg-light p-4 d-flex justify-content-end text-center"> 
                    <ul class="list-inline mb-0"> 
                        <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">{{per.Total_exp}}</h5>
                            <small class="text-muted"> <i class="fas fa-image mr-1"></i>Exp</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">{{fr_complete}}</h5>
                            <small class="text-muted"> <i class="fas fa-briefcase mr-1"></i>completd works</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            <h5 class="font-weight-bold mb-0 d-block">{{fr_ongoing}}</h5>
                            <small class="text-muted"> <i class="fas  fa-briefcase mr-1"></i>Ongoing Works</small> 
                        </li> 
                        <li class="list-inline-item"> 
                            {% if fr_status == '1' %}
                            <h6 class="font-weight-bold mb-0 d-block"> <i class="fa fa-circle" style="color: #f42f07;"></i></h6>
                                {% else %}
                                <h6 class="font-weight-bold mb-0 d-block"> <i class="fa fa-circle" style="color: #45cb18;"></i></h6>
                                {% endif %}
                          
                            <small class="text-muted"> <i class="fas  fa-briefcase mr-1"></i>Work Staus</small> 
                        </li>
                    </ul> 
                </div> 
                <div class="px-4 py-3"> 
                    <h5 class="mb-0">About</h5> 
                    <div class="p-4 rounded shadow-sm bg-light"> 
                        <!-- <p class="font-italic mb-0">Web Developer</p> 
                        <p class="font-italic mb-0">Lives in New York</p> 
                        <p class="font-italic mb-0">Photographer</p>  -->
                    </div> 
                    <form method="post" action="{% url 'rating' per.id %}" >
                        {% csrf_token %}
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Add Rating</label> <input type="number"  class="form-control" name="rt"  min="1" max="5" required></div>
                        </div>
                        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Rating</button></div>
                    </form>
                </div> 
                <div class="py-4 px-4"> 
                    <div class="d-flex align-items-center justify-content-between mb-3"> 
                        <h5 class="mb-0">Service and Works</h5>
                        
                    </div> 
                    <div class="row"> 
                        {% for k in fr_servi %}
                        <p>{{k.service}}</p>
                        {% if per.id == k.free_id_id %}
                        <div class="col-lg-12 mb-2 pr-lg-6">
                           <a href="{{k.work_1.url}}" download="{{k.work_1.url}}">Work - 1</a>,
                           <a href="{{k.work_2.url}}" download="{{k.work_2.url}}">Work - 2</a>
                          
                        </div> 
                        {% endif %}
                        {% endfor %}
                       
                    </div> 
                </div> 
            </div>
        </div>
    </div>

