{% extends 'base3.html' %}
{% load static %}
<head>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.min.css'>
</head>
{% block body %}

<style>
    #dataTable
    {
        font-size: 13px;
    }
    .bt-submit
    {
        padding: 0.30em 1.4em;
        background: #0e0e0e;
        color: #fff;
        border: none;
        border-radius: 10px;
        font-size: 12px;
    }
    .bt-submit a{
        color: #fff;
    }
    .bt-submited
    {
        padding: 0.60em 1.4em;
        background: #1f044e;
        color: #fff;
        border: none;
        border-radius: 10px;
    }
    .bt-submited a{
        color: #fff;
    }
</style>


 <!-- Begin Page Content -->
 <div class="container-fluid">

    <!-- Page Heading
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p> -->

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Task Table</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Category</th>
                                  <th>User</th>
                                  <th>Start Date</th>
                                  <th>End Date</th>
                                  <th>File</th>
                                  <th>Status</th>
                                  <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Category</th>
                            <th>User</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>File</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for i in frworks %}
                        {% if i.fr_status == '1'%}   
                        <tr>
                         <td>{{i.fr_categori}}</td>
                         <td>{{i.fr_user}}</td>
                         
                         <td>{{i.start_date}}</td>
                         <td>{{i.end_date}}</td>
                         <td>
                            {% if i.fr_file %}
                            <a href="{{i.fr_file.url}}" download="{{i.fr_file.url}}"><i class="fa fa-file" style="color: rgb(255, 5, 72);"></i></a>
                            {% else %} 
                            <a href="#" ><i class="fa fa-file" style="color: rgb(255, 5, 72);"></i></a> 
                            {% endif %}
                            
                         </td>
                         <td>
                            
                            <span class="text-success"><b>Completed</b></span>
                            
        
                         </td>
                         <td>
                            {% if i.fr_status == '1' %}
                            <button  class="bt-submited"><a href="#"> Submitted</a></button>
                            
                            {% endif %}
                         </td>
                        </tr>
                        {% endif %}
                      
                      {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->
{% endblock %}