{% extends 'base2.html' %}
{% load static %}
{% block body %}

<style>
  #contact-section
  {
    background:url("{% static 'images/contact-background.jpg' %}")no-repeat,center;
    object-fit: contain;
    color: beige;
   
  }
  #contact-section .container
  {
    padding: 2.5em 1.9em;
    display: grid;
   
    grid-template-columns: 1fr 1fr;
  }
  #contact-section .contact-ionc
  {
      display: flex;
      flex-direction: column;
      gap: 2em;
      padding: 1em 2.5em;
     
  }
  .contact-box h3{
    margin-top: 2em;
    margin-bottom: em;
    padding: 1em 1.2em;
    letter-spacing: 0.04em;
    font-weight: 700;
  }
  .contact-ionc a i{
    color: rgb(239, 34, 34);
  }
  .contact-ionc span{
    margin-left: 0.70em;
    color: azure;
    letter-spacing: 0.04em;
  }
 
  .contact-send-box .card
  {
    padding: 1em 1.6em;
    background: transparent;
    border-radius: 30px;
   
  }
  .contact-send-box form
  {
    background: transparent;
  }
  .contact-send-box h4{
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  .contact-send-box .group-box
  {
    margin-top: 0.50em;
    padding:0.20em 0.80em;
  }
  .contact-send-box .group-box input, .group-box textarea
  {
    background: transparent;
    color: aliceblue;
  }
  .contact-send-box .group-box input:focus, .group-box textarea:focus
  
  {
    background: transparent;
    color: aliceblue;
  }
  #hideDiv
  {
    text-align: center;
    color: rgb(7, 133, 51);
  }
  
  @media( width<= 932px )
  
  {
    #hideDiv
    {
      text-align: center;
      color: rgb(7, 133, 51);
      font-weight: 600;
      font-size: 13px;
      padding-top: 1em;
    }
    .contact-box h3{
      margin-top: 0.40em;
      
    }
    #contact-section .container
    {
      padding:1em 0.50em;
      gap: 2em;
     
      grid-template-columns:repeat(1,1fr)
    }
  }
</style>






<section id="contact-section">
  {% if messages %}
       
          <div class="alert alert-success" id="hideDiv">
          {% for message in messages %}
          <p>{{ message }}</p>    
          {% endfor %}
          </div>
  {% endif %}
  <div class="container">
    <div class="contact-box">
      <h3>GET IN TOUCH</h3>

      <div class="contact-ionc">
        <a href="#"><i class="fa fa-map-marker" style="color: rgb(245, 253, 15);" ></i>
        <span>Dimenzions PLtd., XI/105-C1, Civil LaneRoad, Kochi</span>
        </a>
        
        <a href="#"><i class="fa fa-envelope" style="color: rgb(245, 253, 15);"></i>
         <span>dimensions@example.com</span>
        </a>
        <a href="#"><i class="fa fa-phone" style="color: rgb(245, 253, 15);" ></i>
         <span>+91-847547924</span>
         </a>
       </div>

    </div>

    <div class="contact-send-box">
     
      <div class="card">
        <h4>SAY SOMETHING</h4>
        <form action="{% url 'send_message'  %}" class="mb-2" method="post" id="contactForm" name="contactForm" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="group-box">
            <label for="" class="col-form-label">Name *</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>

          </div>
          
          <div class="group-box">
            <label for="" class="col-form-label">Email *</label>
            <input type="email" class="form-control" name="email" id="email"  placeholder="Your email" required>
          </div>
         

          <div class="group-box">
            <label for="" class="col-form-label">Phone *</label>
          <input type="tel" class="form-control" name="phone" id="phone" pattern="[6789][0-9]{9}" maxlength="10"  placeholder="Phone" required>
          </div>
          

          <div class="group-box">
            <label for="message" class="col-form-label">Message *</label>
          <textarea class="form-control" name="message" id="message" cols="30" rows="4"  placeholder="Write your message" required></textarea>
          </div>
          
          <div class="group-box">
            <button type="submit" class="btn btn-primary rounded-0 py-2 px-4">Send Message</button>
          </div>
         
        </form>
  
      </div>
    </div>
   
  </div>

</section>

                      
 


 <script>
  $(function() {
    setTimeout(function() { $("#hideDiv").fadeOut(1500); }, 3000)
    
    })
</script>
   
       
{% endblock %}
