{% extends 'base.html' %}
{% load static %}
{% block body %}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<style>
   @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@600;700&display=swap'); 
    .top-content-right .container {
        position: absolute;
        width: 320px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
        background-color: rgba(0, 0, 0, 0.7);
      }
      
      .carousel {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d; 
        animation: rotate360 60s infinite forwards linear;
      }
      .carousel__face { 
        position: absolute;
        width: 200px;
        height: 157px;
        top: 20px;
       
        right: 4em;
        background-size: cover;
        box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
        display: flex;
      }
      
      span {
        margin: auto;
        font-size: 2rem;
      }
      
      
      .carousel__face:nth-child(1) {
        background-image: url("static/images/b1.jpg");
        transform: rotateY(  0deg) translateZ(180px); }
      .carousel__face:nth-child(2) { 
        background-image: url("static/images/b2.jpg");
          transform: rotateY( 60deg) translateZ(180px); }
      .carousel__face:nth-child(3) {
        background-image: url("static/images/b4.jpg");
        transform: rotateY( 120deg) translateZ(180px); }
      .carousel__face:nth-child(4) {
        background-image: url("static/images/b3.jpg");
        transform: rotateY(180deg) translateZ(180px); }
      .carousel__face:nth-child(5) { 
        background-image: url("static/images/b5.jpg");
       transform: rotateY(240deg) translateZ(180px); }
      .carousel__face:nth-child(6) { 
        background-image: url("static/images/b6.jpg");
       transform: rotateY(300deg) translateZ(180px); }
      .carousel__face:nth-child(7) { 
        background-image: url("");
       transform: rotateY(360deg) translateZ(180px); }
      
      
      
      @keyframes rotate360 {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(-360deg);
        }
      }

      .top-content-left
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        padding: 0em 4.6em;
        flex-direction: column;

      }
      .top-content-left p{
        line-height: 1.9em;
        font-weight: 500;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.93em;
        color: rgb(235, 233, 231);

      }
      .top-content-left .head-top-span{
        font-size: 2em;
        font-weight: 600;
        color: #fcd731;
        margin-right: 0.30em;
        font-family:'Times New Roman', Times, serif;
       font-style:initial
        
      }
      .top-content-left .btn1-frl
      {
        border: none;
        outline: none;
        padding: 0.60em .90em;
        background:rgb(255, 55, 55);
        color: #fff;
        font-weight: 600;
        margin-top: 1em;
      }
      .top-content-left .btn1-frl a{
        color: #fff;
        font-size: 1.05em;
        letter-spacing:0.15em;
      }

      #about-dimen
      {
        background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
      }
      #about-dimen .about-all
      {
        display: grid;
        align-items: center;
        grid-template-columns: 2fr 1fr;
        padding: 2.5em 2.1em;
        gap: 1em;
       
      }
      .about-content-box h3{
        font-size: 2.5em;
        font-weight: 600;
        margin-bottom: 1em;
        color: #ffffff;
        font-family: 'Times New Roman', Times, serif;
        letter-spacing: 0.06em;
      }
      .about-content-box h3 span{
        font-size: 0.60em;
        font-weight: 400;
      }
      .about-image-box
      {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .about-content-box p{
        line-height: 1.8em;
        letter-spacing: 0.03em;
        color: #0e0000;
        font-weight: 500;
      }
      
      @media(width <= 932px)
      {
        #about-dimen .about-all
        {
            grid-template-columns: repeat(1,1fr);
            padding: 1.4em 1em;
        }
      }
    
</style>


    <section class="banner">
        <div class="inner">
            
            <div class="top-content-left">
                <p><span  class="head-top-span">DIMENZIONS</span> 
                    The World of Digital creation: 
                    3D Modelling, Photoshop, Logo Design, House Plans, Drawings and UI/UX Design
                </p>
                <div class="btn-freelancer">
                    <button class="btn1-frl"><a href="{% url 'freereg' %}">Join As Freelancer</a></button>
                </div>
               
            </div>
            <div class="top-content-right">
                <div class="container">
                    <div class="carousel">
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                    </div>
                  </div>

            </div>
       
            <!-- <b>
                <h1 class="text-light headtext">Create your own</h1>
            </b> 
            
            <b>
                <h1 style="color: rgb(255, 5, 72);" class="headtext">3D Models</h1>
            </b> 
            <div class="my-3">
                <a href="{% url 'model' %}"
                   class="btn w-100 mx-2"
                   style="background-color: rgb(255, 5, 72);
                          color: white;">Buy 3D Model</a>
                 {% comment %} <a href="{% url 'freelancer'%}"
                   class="btn mx-2 text-light"
                   style="background-color: gray;">Frelancer</a>  {% endcomment %}
            </div>
        </div> -->
        <style>
            .banner {
                height: 80vh;
                background-image: url("{% static 'images/assn.png' %}");
                background-size: 100% 100%;
                background-attachment: fixed;


            }

            .headtext {
                font-size: 70px;
                font-weight: 600;
            }
            span {
                margin: auto;
              font-size: 0.80rem; 
              }

            .inner {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: rgb(178, 178, 177);
               
            }
            @media(max-width:932px)
            {
                .banner {
                    height: 60vh;
                    }
            
                .top-content-left
                {
                    margin:0 auto;
                    padding: 0.70em 1em;
                  

                }
                .top-content-left p {
                    font-size: 0.90em;
                    line-height: 2em;
                }
                            .inner {
                                grid-template-columns: repeat(1,1fr);
                               
                            }
               .top-content-right
               {
                display: none;
               }
                
        }

            @media only screen and (max-width:800px) {

                .headtext {
                    font-size: 40px;
                    font-weight: 600;
                }

                .banner {
                   

                    background-size: cover;
                    background: ;

                }
            }
        </style>
    </section>

    <!-- content goes here -->
<section class="p-2" id="about-dimen">
   
      <div class="container about-all">
        
        <div class="about-content-box" data-aos="fade-right"
        data-aos-duration="2000">
            <h3 class="" data-aos="fade-right">
                <span class="">ABOUT</span> Dimenzions  
            </h3>
            <p style="text-align: justify;" class="pe-lg-4 p-1">
                Dimenzions is known as one of the leading corporate branding service providers 
                for its amazing 3D designs, logo designing and other works aimed at providing the 
                best for our clients. Having been a creative design agency, we employ a talented 
                team of employees who bring a combination of creativity and technology to the table. 
                The role of brand awareness in successfully establishing a business is well understood 
                at Dimenzions. 3D animation company in Kerala with its original concepts, cutting-edge 
                technology, technical competence, and in-depth knowledge is stable, trustworthy, durable, 
                and sustainable. 
            </p>
       
            <p  class="pe-lg-4 p-1" style="text-align: justify;"> 
                In place of following trends, we aim to create trends that offer perfection. 
                By combining unrivalled animation solutions with immaculate artistry, 
                we help you establish a distinctive brand identity among the competitors. 
                With the help of our team of animators and artists, we ensure that our 
                animation solutions are the best in the world. Throughout the entire process, 
                our team is constantly looking for ways to improve our strategies based on the 
                pace faster than the market. The 3D printing industry is a full-time profession 
                for us, and we are eager to provide our clients with numerous 3D capabilities. 
                We provide 3D modelling services for various purposes, such as presentations, 
                medical and business needs, character sketches, game creations, automotive needs,
                animations, and more. We are also taking the design industry to new heights by 
                providing services like Logo creation, UI/UX designing, Interior design for homes 
                and offices, Character sketching, Caricature drawing, Letterhead designs, and all 
                kinds of graphic design works affordably.
            </p>
            <a href="{% url 'registration'%}" class="btn btn-danger">Join Now</a>
        </div>

       
        <div class="about-image-box" data-aos="fade-left"
        data-aos-anchor="#example-anchor"
        data-aos-offset="500"
        data-aos-duration="2000">
            <img class="img-fluid" src="{% static 'images/inner_about_img01 1.png' %}"  alt="About-first-image">
            <img class="imagedown img-fluid"src="{% static 'images/inner_about_img02 1.png' %}"  alt="About-second-image">
        </div>
        
      </div> 
</section>
    



    <section class="grayback m-0 " style="background:#111010 ">
        <section class="p-lg-5 ">
            <h4  class="head-categ text-center pt-4 p-lg-0 "data-aos="fade-up"data-aos-delay="50">
                CHECK OUT OUR CATEGORIES
            </h4>
            <!-- <div class="flexy w-100">
                <div style="background-color: white;height: 2px; width: 20%;">
                </div>
            </div> -->
            <div class="cards-list">
                <a class="card3" href="{% url 'price_low' %}"
                     style="background-image: url('{% static 'images/car.jpg'%}'); ">
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>3D</span>  ARTISTS
                        </h4>
                        <p>
                            Bringing your ideas to life through 3D modeling
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'photoshop' %}"
                style="background-image: url('{% static 'images/Moon-Photoshop.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>PHOTO</span>SHOP
                        </h4>
                        <p >
                            Make your photos look Amazing with our Photoshop services
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'ui_design' %}"
                style="background-image: url('{% static 'images/ui1.jpg'%}'); ">
                 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span> UI </span>DESIGN
                        </h4>
                        <p>
                            UI/UX design for web pages to enhance your users' experience
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'house_plans'%}"
                style="background-image: url('{% static 'images/house.jpg'%}'); ">
                     
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>HOUSE</span> PLANS
                        </h4>
                        <p>Professional house plans for your Dream Home</p>
                        
                    </div>
                </a>
                <a class="card3" href="{% url 'logo_creation'%}"
                style="background-image: url('{% static 'images/b-letter-boutique-logo-design-159417325.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>LOGO</span> CREATION
                        </h4>
                        <p>
                            Make your brand look its best with our logo design services.
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'drawings'%}"
                
                style="background-image: url('{% static 'images/images (6) 1.png' %}'); ">
 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            <span>DRAW</span>INGS 
                        </h4>
                        <p >
                            Precision drawings that can help you realize your visions
                        </p> 
                    </div>
                </a>
            </div>
        </section>
        <style>
            .head-categ
            {
                font-weight: 700;   
                letter-spacing: 0.04em; 
                color: rgb(222, 222, 222);
            }
            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 2.1em;
                background: #111010;
            }
            .flex h4{
                margin-top: 7.5em;
            }
            .flex p{
                color: rgb(209, 209, 209);
                line-height: 1.6em;
                letter-spacing: 0.04em;
                font-size: 15px;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 0.60em;
                margin-bottom: 0.90em;
                font-weight: 500;
                
            }
            .flex span{
                color: #fcd731;
                font-size: 1em;
                font-weight: 700;
            }

            .cards-list {
                z-index: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                margin-top: 2em;
               
               
            }

            .card3 {
                margin: 30px auto;
                width: 380px;
                height: 380px;

                background-size: 100% 100%;
                cursor: pointer;
                transition: 0.4s;
              border-radius: 15%;
              background-color: rgb(0, 0, 0);
            }

            .dark1 {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 15%;
            }
            .dark1 p{
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

            .card3:hover .dark1 {
                background-color: rgba(0, 0, 0, 0.8);
                transition: 1s;

            }

            @media all and (max-width: 800px) {
                .card-list {
                    /* On small screens, we are no longer using row direction but column */
                    flex-direction: column;
                }

                .card3 {
                    margin: 10px auto;
                    width: 90%;
                    height: 250px;
                }
                .head-categ
                {
                    font-weight: 600;   
                    letter-spacing: 0.01em; 
                    color: rgb(222, 222, 222);
                    font-size: 1em;
                    margin-bottom: 1.4em;
                }
                .flex h4{
                    margin-top: 5.5em;
                }



            }
        </style>
    </section>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script> 
{% if messages %}
<script>
    swal("Good job!", 'Your Request Is Successful', "success")
</script>
{% endif %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
  </script>
    {% endblock %}

