{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
  body
  {
    background: #f7f7f7;
  }
  
        .banner {
           
            background-image: url("{% static 'images/assn.png' %}");
            background-size: cover;
            background-attachment: fixed;


        }

        .headtext {
            font-size: 50px;
            font-weight: 600;
        }

        .inner {
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.7);
            display: flex;
            align-items: center;
            
            flex-direction: column;
            
        }
        .inner .container
        {
          padding: 4.3em 2.2em;
          display: grid;
          grid-template-columns: 2fr 1.5fr;
          background: #ffffff;
          gap:1em;
         
          
        }
        .inner .container h3{
          font-weight: 600;
          font-family: 'Times New Roman', Times, serif;
          color: rgb(8, 8, 8);
          margin-top: 1em;
          margin-bottom: 1.1em;
        }
        .inner .container p{
         line-height: 1.7em;
         letter-spacing: 0.04em;
         text-align: justify;
         color: rgb(43, 43, 43);
        }
        .content-box-about
        {
          background:transparent;
          padding: 1em;
        }
        .aboutus-img
        {
          height: 360px;
          width: 500px;
        }
        .aboutus-img img{
          width: 100%;
          height: 100%;
        }
        .more-about
        {
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 1fr 1fr;
          padding: 0.02em 3em;
          gap: 1em;
          margin-bottom: 3em;
          margin-top: -2em;
        
        }
        .more-about .card
        {
          height: 320px;
          padding: 1.5em;
          width: 350px;
        }

        @media only screen and (max-width:800px) {

            .headtext {
                font-size: 30px;
                font-weight: 600;
            }

            .banner {
                height: auto;



            }
            .inner .container 
            {
              padding: 1.3em 1.2em;
              grid-template-columns:repeat(1,1fr) 
            }
        }
        .pe-lg-4
        {
            font-size: .91em;
        }
        

       
        

                    
</style>

<section class="banner">
  <div class="inner">
    <div class="container">
      <div class="content-box-about">
        <h3> About US</h3>
      <p>
       
          Our company was founded by a group of 3D artists and 3D enthusiastic who were passionate 
          about using their skills to bring creative ideas to life. Over the years, Dimenzions have 
          grown into a full-service 3D modeling company, providing high-quality 3D models for a 
          wide range of industries and applications.
      </p>
      <p>
          Our team is made up of talented and experienced 3D artists who are skilled in a variety of areas, 
          including 3D modeling, texturing, animation, and graphic designing. We have worked on projects for 
          clients in industries such as architecture, product design, character sketches, and video game development, 
          and we have a strong track record of delivering exceptional results.
      </p>
     

      </div>
      <div class="aboutus-img">
        <img src="{% static 'images/assn.png' %}">
      </div>
    </div>
    <div class="more-about">
    
      <div class="card">
        <h2>01</h2>
        <p>
          At Dimenzions, we are committed to staying at the forefront of the 3D modeling industry. 
          We use the latest software and techniques to ensure that our models are of the highest quality and realism. 
          We also make it a priority to continuously learn and improve our skills, so that we can provide the best possible 
          service to our clients.
        </p>
      </div>
      <div class="card">
        <h2>02</h2>
        <p>
          In addition to our technical expertise, we also pride ourselves on our customer service. 
          We understand that every project is unique, and we work closely with our clients to understand their 
          specific needs and goals. We are dedicated to delivering personalized, high-quality service, and we
           are committed to building long-term relationships with our clients.
        </p>
      </div>
      <div class="card">
        <h2>03</h2>
        <p>
          If you are in need of 3D modeling services in Kerala, we would love the opportunity to work with you. 
          We are committed to delivering exceptional results to our clients and we pride ourselves on our attention 
          to detail and ability to bring our clients' visions to life.
        
        </p>  
      </div>
    </div>

  </div>  
</section>






{% endblock %}
