{% extends 'base2.html' %}
{% load static %}
{% block body %}

<style>
    .top-content-right .container {
        position: absolute;
        width: 320px;
        margin: 100px auto 0 auto;
        perspective: 1000px;
        background-color: rgba(0, 0, 0, 0.7);
      }
      
      .carousel {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d; 
        animation: rotate360 60s infinite forwards linear;
      }
      .carousel__face { 
        position: absolute;
        width: 200px;
        height: 157px;
        top: 20px;
       
        right: 4em;
        background-size: cover;
        box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.5);
        display: flex;
      }
      
      span {
        margin: auto;
        font-size: 2rem;
      }
      
      
      .carousel__face:nth-child(1) {
        background-image: url("static/images/b1.jpg");
        transform: rotateY(  0deg) translateZ(180px); }
      .carousel__face:nth-child(2) { 
        background-image: url("static/images/b2.jpg");
          transform: rotateY( 60deg) translateZ(180px); }
      .carousel__face:nth-child(3) {
        background-image: url("static/images/b4.jpg");
        transform: rotateY( 120deg) translateZ(180px); }
      .carousel__face:nth-child(4) {
        background-image: url("static/images/b3.jpg");
        transform: rotateY(180deg) translateZ(180px); }
      .carousel__face:nth-child(5) { 
        background-image: url("static/images/b5.jpg");
       transform: rotateY(240deg) translateZ(180px); }
      .carousel__face:nth-child(6) { 
        background-image: url("static/images/b6.jpg");
       transform: rotateY(300deg) translateZ(180px); }
      .carousel__face:nth-child(7) { 
        background-image: url("");
       transform: rotateY(360deg) translateZ(180px); }
      
      
      
      @keyframes rotate360 {
        from {
          transform: rotateY(0deg);
        }
        to {
          transform: rotateY(-360deg);
        }
      }

      .top-content-left
      {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0 auto;
        padding: 0em 4.6em;
        flex-direction: column;

      }
      .top-content-left p{
        line-height: 1.7em;
        font-weight: 500;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;

      }
      .top-content-left .head-top-span{
        font-size: 2em;
        font-weight: 700;
        color:orange;
        margin-right: 0.30em;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-style:initial
        
      }
      .top-content-left .btn1-frl
      {
        border: none;
        outline: none;
        padding: 0.50em .90em;
        background:rgb(255, 55, 55);
        color: #fff;
        font-weight: 600;
        margin-top: 1em;
      }
      .top-content-left .btn1-frl a{
        color: #fff;
      }
    
</style>


    <section class="banner">
        <div class="inner">
            
            <div class="top-content-left">
                <p><span  class="head-top-span">Dimenzions</span> is known as one of the leading 
                  corporate branding  service providers 
                    for its amazing 3D designs, logo designing and  other works aimed at providing the 
                    best for our clients.
                </p>
                <div class="btn-freelancer">
                    <button class="btn1-frl"><a href="{% url 'freereg' %}">Join As Freelancer</a></button>
                </div>
               
            </div>
            <div class="top-content-right">
                <div class="container">
                    <div class="carousel">
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                      <div class="carousel__face"><span></span></div>
                    </div>
                  </div>

            </div>
       
            <!-- <b>
                <h1 class="text-light headtext">Create your own</h1>
            </b> 
            
            <b>
                <h1 style="color: rgb(255, 5, 72);" class="headtext">3D Models</h1>
            </b> 
            <div class="my-3">
                <a href="{% url 'model' %}"
                   class="btn w-100 mx-2"
                   style="background-color: rgb(255, 5, 72);
                          color: white;">Buy 3D Model</a>
                 {% comment %} <a href="{% url 'freelancer'%}"
                   class="btn mx-2 text-light"
                   style="background-color: gray;">Frelancer</a>  {% endcomment %}
            </div>
        </div> -->
        <style>
            .banner {
                height: 80vh;
                background-image: url("{% static 'images/assn.png' %}");
                background-size: 100% 100%;
                background-attachment: fixed;


            }

            .headtext {
                font-size: 70px;
                font-weight: 600;
            }
            span {
                margin: auto;
              font-size: 0.80rem; 
              }

            .inner {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.7);
                display: grid;
                grid-template-columns: 1fr 1fr;
                color: rgb(178, 178, 177);
               
            }
            @media(max-width:932px)
            {
                .banner {
                    height: 60vh;
                    }
            
                .top-content-left
                {
                    margin:0 auto;
                    padding: 0.70em 1em;
                  

                }
                .top-content-left p {
                    font-size: 0.90em;
                    line-height: 2em;
                }
                            .inner {
                                grid-template-columns: repeat(1,1fr);
                               
                            }
               .top-content-right
               {
                display: none;
               }
                
        }

            @media only screen and (max-width:800px) {

                .headtext {
                    font-size: 40px;
                    font-weight: 600;
                }

                .banner {
                   

                    background-size: cover;

                }
            }
        </style>
    </section>
    <section class="grayback " style="background-color: rgb(97, 96, 99);">
        <section class="p-lg-5 ">
            <h2 style="font-weight: 600;
                       color: rgb(255, 255, 255);"
                class="text-center pt-4 p-lg-0 "
                data-aos="fade-up"
                data-aos-delay="50">
                CHECK OUT OUR CATEGORIES
            </h2>
            <div class="flexy w-100">
                <div style="background-color: white;height: 2px; width: 20%;">
                </div>
            </div>
            <div class="cards-list">
                <a class="card3" href="{% url 'price_low' %}"
                     style="background-image: url('{% static 'images/car-777159_960_720.jpg'%}'); ">
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            3D ARTISTS
                        </h4>
                        <p style="color: gray;">
                            {{count_a}}
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'photoshop' %}"
                style="background-image: url('{% static 'images/Moon-Photoshop.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            PHOTOSHOP
                        </h4>
                        <p style="color: gray;">
                            {{count_b}} Products
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'ui_design' %}"
                style="background-image: url('{% static 'images/1642762135_resized-image.jpg'%}'); ">
                 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            UI DESIGN
                        </h4>
                        <p style="color: gray;">
                            {{count_c}}
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'house_plans'%}"
                style="background-image: url('{% static 'images/RoomSketcher-High-Quality-3D-Floor-Plans.jpg'%}'); ">
                     
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            HOUSE PLANS
                        </h4>
                        <p style="color: gray;">
                            {{count_d}}
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'logo_creation'%}"
                style="background-image: url('{% static 'images/b-letter-boutique-logo-design-159417325.jpg'%}'); ">
               
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            LOGO CREATION
                        </h4>
                        <p style="color: gray;">
                            {{count_e}}
                        </p>
                    </div>
                </a>
                <a class="card3" href="{% url 'drawings'%}"
                
                style="background-image: url('{% static 'images/images (6) 1.png'%}'); ">
 
                    <div class="dark1 flex flex-column">
                        <h4 class="text-light">
                            DRAWINGS 
                        </h4>
                        <p style="color: gray;">
                            {{count_f}}
                        </p>
                    </div>
                </a>
            </div>
        </section>
        <style>
            .flex {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .cards-list {
                z-index: 0;
                width: 100%;
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                background-color: rgba(0, 0, 0, 0);
            }

            .card3 {
                margin: 30px auto;
                width: 400px;
                height: 400px;

                background-size: 100% 100%;
                cursor: pointer;
                transition: 0.4s;
                border-radius: 20px;
            }

            .dark1 {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 20px;
            }


            .card3:hover .dark1 {
                background-color: rgba(0, 0, 0, 0.8);
                transition: 1s;

            }

            @media all and (max-width: 800px) {
                .card-list {
                    /* On small screens, we are no longer using row direction but column */
                    flex-direction: column;
                }

                .card3 {
                    margin: 10px auto;
                    width: 90%;
                    height: 250px;
                }



            }
        </style>
    </section>

    
    <section class="designers">
        <div class="cover1">
            <div class="left2 p-lg-5 p-4 text-center">
                <h3 style="font-weight: 600;">
                    TOP DESIGNERS OF THIS WEEK
                </h3>
                <!-- <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque suscipit beatae quas.
                </P> -->
                <div class="row container-fluid">
                    <div class="row container-fluid">
                        {% for i in persons %}
                        <div class="col-lg-4 flexy my-2">
                            {% if i.profile_pic %}
                            <img src="{{i.profile_pic.url}}"alt=""width="150px"class="rounded rounded-circle">
                            {% endif %}
                            <h6>
                                {{i.full_name}}
                            </h6>
                        </div>
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
            <div class="right2 container-fluid">
                <img src="{% static 'images/ptree.png' %}" class="tree " alt="">
            </div>
        </div>
        <style>
            .right2 .tree {
                width: 550px;
                margin-top: -120px;

            }

            .flexy {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }

            .designers {


                background-image: url('https://img.freepik.com/free-vector/3d-shapes-sky-tones-background_52683-35351.jpg?w=2000');
                background-attachment: fixed;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .cover1 {
                background-color: rgba(255, 255, 255, 0.6);
                width: 100%;
                height: 100%;
                display: flex;

            }

            .left2 {
                width: 60%;
            }

            .right2 {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;

            }

            .right2 img {
                width: 400px;
            }

            @media only screen and (max-width:800px) {
                .cover1 {
                    display: block;
                }

                .left2 {
                    width: 100%;
                }

                .right2 {
                    width: 100%;
                }

                .designers {
                    height: auto;
                }

                .right2 .tree {
                    width: 250px;
                    margin-top: auto;
                    display: none;

                }

            }
        </style>
    </section>




    <!-- <section class="tabs m-3">
        <ul class="nav nav-tabs d-flex align-items-center justify-content-center border-0"
            id="myTab"
            role="tablist">
            <li class="nav-item  blink0" role="presentation">
                <button class="nav-link active px-5 blink"
                        id="home-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#new"
                        type="button"
                        role="tab"
                        aria-controls="new"
                        aria-selected="true">
                    <h4>New</h4>
                </button>
            </li>
            <li class="nav-item blink0" role="presentation">
                <button class="nav-link px-5 blink"
                        id="profile-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#special"
                        type="button"
                        role="tab"
                        aria-controls="special"
                        aria-selected="false">
                    <h4>Special</h4>
                </button>
            </li>
            <li class="nav-item  blink0" role="presentation">
                <button class="nav-link px-5 blink"
                        id="contact-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#collection"
                        type="button"
                        role="tab"
                        aria-controls="collection"
                        aria-selected="false">
                    <h4>Collection</h4>
                </button>
            </li>
            <li class="nav-item blink0" role="presentation">
                <button class="nav-link px-5 blink"
                        id="contact-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#featured"
                        type="button"
                        role="tab"
                        aria-controls="featured"
                        aria-selected="false">
                    <h4>featured</h4>
                </button>
            </li>
        </ul>
        <div class="tab-content border-0" id="myTabContent">
            <div class="tab-pane fade show active container"
                 id="new"
                 role="tabpanel"
                 aria-labelledby="home-tab">
                <div class="cards-list">
                    {% for p in new %}
                    <a href="{% url 'view_items' p.id  %}">
                   
                    <div onclick="tap()"
                       class="card1 bg-light shadow-lg"
                       data-aos="fade-up"
                       data-aos-delay="50">
                        <div class="card border-0 " style="height: 100%; width:100%;">
                            <img src="{{p.gib.url}}" style="max-width:100%; max-height:280px " class="card-img-top" alt="...">
                            <div class="card-body d-flex container">
                                <div class="left">
                                    <h5 class="card-title text-dark">{{p.modelname}}</h5>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <h5 class="price my-2">{{p.price}} Rs</h5>
                                </div>
                                <div class="right">
                                    <h5>3D</h5>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    {% endfor %} 
                    </a>
                </div>
            </div>
            



            <div class="tab-pane fade"
                 id="special"
                 role="tabpanel"
                 aria-labelledby="profile-tab">
                <div class="cards-list container">
                    {% for p in sp %}
                    <a href="{% url 'view_items' p.id  %}">
                    <div onclick="tap()"
                      class="card1 shadow-lg" data-aos="fade-up" data-aos-delay="50">
                        <div class="card border-0 "  style="height: 100%; width:100%;">
                            <img src="{{p.gib.url}}"
                                 class="card-img-top"
                                 alt="..." style="max-width:100%; max-height:280px ">
                            <div class="card-body d-flex container">
                                <div class="left">
                                    <h5 class="card-title text-dark">
                                        {{p.modelname}}
                                    </h5>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <h5 class="price my-2">
                                        {{p.price}} Rs
                                    </h5>
                                </div>
                                <div class="right">
                                    <h5>
                                        3D
                                    </h5>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    {% endfor %}
                    </a>
                </div>    

            </div>    
            
                   
            <div class="tab-pane fade"
                 id="collection"
                 role="tabpanel"
                 aria-labelledby="contact-tab">
                <div class="cards-list container">
                    {% for p in new %}
                    <a href="{% url 'view_items' p.id  %}">
                    <div onclick="tap()"
                      class="card1 shadow-lg" data-aos="fade-up" data-aos-delay="50">
                        <div class="card border-0 " style="height: 100%; width:100%;">
                            <img src="{{p.gib.url}}"
                                 class="card-img-top"
                                 alt="..." style="max-width:100%; max-height:280px">
                            <div class="card-body d-flex container">
                                <div class="left">
                                    <h5 class="card-title text-dark">
                                        {{p.modelname}}
                                    </h5>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <h5 class="price my-2">
                                        {{p.price}}
                                    </h5>
                                </div>
                                <div class="right">
                                    <h5>
                                        3D
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </a>
                </div>
            </div>        
                   
                   
            <div class="tab-pane fade"
                 id="featured"
                 role="tabpanel"
                 aria-labelledby="contact-tab">
                <div class="cards-list">
                    {% for p in fea %}
                    <a href="{% url 'view_items' p.id  %}">
                    <div onclick="tap()"
                     class="card1  shadow-lg" data-aos="fade-up" data-aos-delay="50">
                        <div class="card border-0 " style="height: 100%; width:100%;">
                            <img src="{{p.gib.url}}"
                                 class="card-img-top"
                                 alt="..." style="max-width:100%; max-height:280px">
                            <div class="card-body d-flex container">
                                <div class="left">
                                    <h5 class="card-title text-dark">
                                        {{p.modelname}}
                                    </h5>
                                    <div class="star">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star "></span>
                                        <span class="fa fa-star"></span>
                                    </div>
                                    <h5 class="price my-2">
                                        {{p.price}}
                                    </h5>
                                </div>
                                <div class="right">
                                    <h5>
                                        3D
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </a>
                </div>
            </div>
        </div>
        <style>
            a{
                text-decoration: none;
                color: gray;
            }
            .left {
                width: 50%;

            }

            .right {
                width: 50%;
            }

            .right h5 {
                text-align: end;
            }

            .nav-item button {
                color: black;
            }

            .nav-item:hover button {
                color: rgb(255, 5, 72);
                border: none;
            }



            .topclr {

                font-weight: 600;
                color: rgb(176, 176, 176);

            }

            .topclr:hover {
                color: rgb(255, 5, 72);

            }

            .nav-tabs .nav-item .nav-link {
                background-color: white color: gray;
            }

            .nav-tabs .nav-item .nav-link.active {
                color: rgb(255, 5, 72);
                border: none;
            }

            .tab-content {
                border: 1px solid #dee2e6;
                border-top: transparent;
                padding: 15px;
            }

            .tab-content .tab-pane {
                background-color: #FFF;
                color: gray;
                min-height: 200px;
                height: auto;
            }

            .card img {}

            .card1 {
                background-color: rgba(0, 0, 0, 3);
                margin: 10px auto;
                width: 400px;
                min-height: 350px;

                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                cursor: pointer;
                transition: 0.4s;
            }


            .star {
                color: rgb(228, 228, 228);
                text-shadow: 1px 1px 1px black;
            }

            .checked {
                color: rgb(255, 5, 72);
            }

            .price {
                color: gray;
            }

            @media only screen and (max-width:800px) {
                .blink {
                    width: 100%;
                }

                .blink0 {
                    width: 100%;
                }
                .left{
                    height: auto;

                }
                .right{
                    height: auto;
                    
                }
                .card1{
                    min-height: auto;
                }


            }
        </style>
    </section> -->


<!-- 
    <section class=" pinkbox  w-100 ">
        <div class="pinkbox0 container">
            <div class="row  text-light p-0 m-0">
                <div class="col-lg-3  flex flex-column pbox">
                    <i class="fa-solid fa-mobile-screen p-3" style="font-size: 45px;"></i>
                    <h4>Responsive Design</h4>
                    <p style="text-align: center;" class="p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Atque temporibus, at non harum sunt nostrum deserunt debitis, excepturi, quia est dignissimos?
                        Officia sapiente ex non dicta possimus facilis quisquam nisi?
                    </p>
                </div>
                <div class="col-lg-3  flex flex-column  pbox p-4">
                    <i class="fa-solid fa-gem p-3" style="font-size: 45px;"></i>
                    <h4>Award Winning</h4>
                    <p style="text-align: center;" class="p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Atque temporibus, at non harum sunt nostrum deserunt debitis, excepturi, quia est dignissimos?
                        Officia sapiente ex non dicta possimus facilis quisquam nisi?
                    </p>
                </div>
                <div class="col-lg-3 flex flex-column pbox p-4">
                    <i class="fa-solid fa-laptop p-3" style="font-size: 45px;"></i>
                    <h4>Video tutorial</h4>
                    <p style="text-align: center;" class="p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Atque temporibus, at non harum sunt nostrum deserunt debitis, excepturi, quia est dignissimos?
                        Officia sapiente ex non dicta possimus facilis quisquam nisi?
                    </p>
                </div>
                <div class="col-lg-3 flex flex-column pbox p-4">
                    <i class="fa-solid fa-gift p-3" style="font-size: 45px;"></i>
                    <h4>Awesome Gift</h4>
                    <p style="text-align: center;" class="p-3">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                        Atque temporibus, at non harum sunt nostrum deserunt debitis, excepturi, quia est dignissimos?
                        Officia sapiente ex non dicta possimus facilis quisquam nisi?
                    </p>
                </div>
            </div>
        </div>
        <style>
            .pinkbox {
                background-color: rgb(255, 5, 72);
                background-image: url('{% static 'images/triangle.png' %}');
                background-size: contain;
            }

            .pbox:hover {
                background-color: rgba(0, 0, 0, 0.3);
                transition: 1s;
            }
        </style>
    </section>
    -->



    
    <!-- <section class="soon">
        <div class="left4">
            <div style="background-color: rgba(0,0,0,.5);
                        height: 100%;
                        width: 100%;"
                 class="flexy">
                <h2 class="text-light" style="font-weight: 600;">
                    COMING SOON !
                </h2>
            </div>
        </div>
        <div class="right4 p-4">
            <H4 class="text-light" style="font-weight: 600;">
                SIGNUP FOR NEWSLETTER
            </H4>
            <form class="d-flex mt-3">
                <input class="px-3 me-0 rounded-0 border-0 search"
                       type="search"
                       placeholder="Search"
                       aria-label="Search">
                <button class=" p-2 rocket"
                        style="background-color: white;
                               border: 0;"
                        type="submit">
                    <i class="fa-solid fa-paper-plane"></i>
                </button>
            </form>
        </div>
        <style>
            .soon {
                display: flex;
            }

            .rocket {
                color: rgb(255, 5, 72);

            }

            .search {
                width: 450px;
            }

            .soon {
                height: 30vh;
            }

            .left4 {
                background-image: url('{%static 'images/soon2.png' %}');
                background-size: 100% 100%;
                
                background-repeat: no-repeat;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .right4 {
                background-color: rgb(255, 5, 72);
                background-image: url('{%static 'images/triangle.png' %}');
                background-size: cover;
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

            }

            @media all and (max-width: 800px) {
                .right4 {
                    width: 100%;
                }

                .left4 {
                    width: 100%;
                    height: 200px;
                    background-size: cover;
                }

                .search {
                    width: auto;
                }

                .soon {
                    height: auto;
                }

                .soon {
                    display: block;
                }
            }
        </style>
    </section> -->
    {% endblock %}

