{% extends 'admin_base.html' %} {% load static%} {% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    #rwork
    {
        overflow-y:scroll;
        scroll-behavior: smooth;
        scrollbar-color: #000;
        
    }

    #rwork::-webkit-scrollbar {
        width: 1.2em;
    }
  
.remove
{
    text-align: end;
}
.card_req h6{
    font-size: 13px;
    font-weight: 500;
}
.card_req p{
    font-size: 12px;
}
.card_req img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
}

.alert-box {
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;  
    font-size: 13px;
}

.success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    display: none;
}
#myTable tr td
{
    font-size: 12px;
}
table .header th{
    font-size: 12px;
}

</style>

<div class="container">
    <h5 class="text-center mb-4"> Requested Works</h5>
    {% if msg %}
    <div class="alert-box success"> {{msg}} !!!</div>
    {% endif %}
                                
</div>

<div class="table-responsive">
    <table  class="table table-striped">
      <thead>
        <tr class="header">
          
          <th>Category</th>
          <th>User</th>
          <th>Freelancers</th>
          <th>End Date</th>
          <th>Action</th>
          
          
        </tr>
      </thead>

    
      <tbody id="myTable">
        {% for i in s %}
        <form action="{% url 'freelancer_allocate' %}" method="post">
            {% csrf_token %}
            
            <tr>
            <td>{{i.categori}}</td>
            <td> {{i.user_name}} <input type="text" value="{{i.id}}" hidden name="u-id"></td>
            <td>
                <select name="frid" class="p-2">
                    {% for j in r %}

                    <option value={{j.id}} selected  clas="p-2">
                        
                        <span>{{j.full_name}}</span> -
                         
                        <span> {{j.service}}</span>
                            {% if j.rating == 1 %}
                            <span> &nbsp; &nbsp; &nbsp;★</span>
                            {% elif j.rating == 2 %}
                            <span style=" color: orange;">  &nbsp; &nbsp; &nbsp; ★★</span>
                            {% elif j.rating == 3 %}
                            <span >  &nbsp; &nbsp; &nbsp; ★★★</span>
                            {% elif j.rating == 4 %}
                            <span>  &nbsp; &nbsp; &nbsp;★★★★</span>
                            {% elif j.rating == 5 %}
                            <span> &nbsp; &nbsp; &nbsp;★★★★★</span>
                            {% endif %}
                       
                    
                    </option>
                    {% endfor %}
                
                </select>
            </td>
            <td> <input type="date" class="dates p-2" name="fr-date" required></td>
            <td>{% if i.status == '2' %}  <button type="button" class="btn1" style="background-color: #28932a;">Allocated</button>
               {% else %}<button type="submit" class="btn1">Allocate</button>
               {% endif %}
            </td>
            
            </tr>
        </form>
      </tbody>
      {% endfor %}
    </table>
  </div>

 


<style>
    form
    {
        width: 100%;
    }
    .select-box {
        cursor: pointer;
        position : relative;
        padding: 2px 10px;
        margin: 1em;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
      
      }
      
      
      select
       {
        color: #414141;
        font: 400 13px/1em 'Source Sans Pro', sans-serif;
        width: 100%;
        
        padding: 5px 0;
        height: 40px;
        opacity: 1;
    
        border: 0 none;
      }
      .select-box1 {
        background: #ececec;
        width: 100%;
      }
     .btn1
     {
        background-color: #2A265F;
        color: #fff;
        height: 30px;
        margin: 10px 8px;
        border: none;
        outline: none;
        width: 100px;
        font-size: 13px;
        border-radius: 2em;
     }
     .dates
     {
        font-size: 13px;
        height: 30px;
        border: none;
        outline: none;
        margin: 10px 8px;
       
     }

</style>
{% if msg %}
<script>
   
    $( "#success-btn" ).ready(function() {
        $( "div.success" ).fadeIn( 300 ).delay( 2500 ).fadeOut( 400 );
      });
</script>
{% endif %}

<script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>


{% endblock %}