{% extends 'base3.html' %}
{% load static %}
{% block body %}



<style>
    #job-card-details  .card{
        box-shadow: 0 6px 6px rgba(#000, 0.3);
        transition: 200ms;
        background: #fff;
    }
    #job-card-details    .card__title{
          display: flex;
          align-items: center;
          padding: 10px 20px;
        }
        #job-card-details  .card__title   h3{
            flex: 0 1 200px;
            text-align: right;
            margin: 0;
            color: #252525;
            font-family: sans-serif;
            font-weight: 600;
            font-size: 20px;
            text-transform: uppercase;
          }
          
          #job-card-details   .icon{
            flex: 1 0 10px;
            background: #115dd8;
            color: #fff;
            padding: 10px 10px;
            transition: 200ms;
          }
           
        
          #job-card-details  .card__body{
          padding: 0 20px;
          display: flex;
          flex-flow: row ;
          justify-content: space-evenly;
          margin-bottom: 25px;
        }
         @media(max-width:932px)
         {
            #job-card-details  .card__body{
                display: block;
            }
         }
          
        #job-card-details    .featured_text h1{
              margin: 0;
              padding: 0;
              font-weight: 800;
              font-family: "Montserrat", sans-serif;
              font-size: 24px;
              line-height: 50px;
              color: #181e28;
            }
            
            #job-card-details   .featured_text   p{
              margin: 0;
              padding: 0;
            }
              
            #job-card-details   p .sub{
                font-family: "Montserrat", sans-serif;
                font-size: 17px;
                text-transform: uppercase;
                color: #686e77;
                font-weight: 300;
                margin-bottom: 5px;
              }
              
              #job-card-details    p .price{
                font-family: "Fjalla One", sans-serif;
                color: #252525;
                font-size: 16px;
              }
        
              #job-card-details   .image{
            padding-top: 12px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          #job-card-details   img{
              display: block;
              max-width: 50%;
              height: auto;
            }
      
          
          .description{
            margin-bottom: 25px;
          }
          #job-card-details     p{
              margin: 0;
              font-family: "Open Sans", sans-serif;
              font-weight: 300;
              line-height: 27px;
              font-size: 15px;
              color: #555;
            }
          
          
            #job-card-details  span.stock{
            font-family: "Montserrat", sans-serif;
            font-weight: 600;
            color: #a1cc16;
          }
          
          #job-card-details  .reviews .stars{
              display: inline-block;
              list-style: none;
              padding: 0;
              
          }
            
          #job-card-details     span{
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              margin-left: 5px;
              color: #555;
            }
    
     
        
            #job-card-details  .card__footer{
          padding: 30px 40px;
          display: flex;
          flex-flow: row no-wrap;
          align-items: center;
          position: relative;
        }
          
        #job-card-details   .card__footer::before{
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 40px;
            width: calc(100% - 40px);
            height: 3px;
            background: #115dd8;
            background: linear-gradient(to right, #115dd8 0%,#115dd8 20%,#ddd 20%,#ddd 100%);
          }
          
          #job-card-details   .recommend{
            flex: 1 0 10px;
          }
          #job-card-details   .recommend p{
              margin: 0;
              font-family: "Montserrat", sans-serif;
              text-transform: uppercase;
              font-weight: 600;
              font-size: 14px;
              color: #555;
            }
           
            #job-card-details   .recommend  h3{
              margin: 0;
              font-size: 20px;
              font-family: "Montserrat", sans-serif;
              font-weight: 600;
              text-transform: uppercase;
              color: #115dd8;
            }
          
          
            #job-card-details   .action button{
              cursor: pointer;
              border: 1px solid #115dd8;
              padding: 10px 15px;
              border-radius: 200px;
              color: #fff;
              background: #115dd8;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              transition: 200ms;
          }
          #job-card-details  .action a{
            color: #ffff;
            text-decoration: none;
          }
              
          #job-card-details  .action button:hover{
                background: rgb(20, 1, 1);
                color: #f9f9f9;
              }
          
      
</style>

<div class="container mt-5 mb-3" id="job-card-details">

    <div class="card">
        <div class="card__title">
          <div class="icon">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
          </div>
          <h3>{{frworks.fr_categori}}</h3>
        </div> 
        <div class="card__body">
            
           
          <div class="half">
            <div class="featured_text">
              <h1>{{frworks.fr_user}}</h1>
              <p class="sub">{{frworks.end_date}}</p>
              <!-- <p class="price">$210.00</p> -->
            </div>
          
            <div class="image">
                
               
              
                {% for j in s %}
                    {% if frworks.fr_service_id == j.id %}
                            
                        {% if j.product == 0 %}
                        <img id="image" src="{{s.file.url}}" alt="Description of image">
                
                        {% else %}
                    
                            {% for i in p %}
                        
                                {% if i.id == j.product %}
                            
                                    <img src="{{i.gib.url}}" id="image" alt="Description of image">
                                {% endif %}
                            {% endfor %}
                        {% endif  %}

                    {% endif %}
                {% endfor %}
              
            </div>
            <!-- <div class="image">
            
             
           
                {% if frworks.fr_file %}
                    <img src="{{frworks.fr_file.url}}" alt="">
                {% endif %}
            
      
            </div> -->
          </div>
          <div class="half">
            <div class="description">
               
                
                <p>
                    {% for j in s %}
                        {% if frworks.fr_service_id == j.id %}
                        {{j.description}}
                        {% endif %}
                    {% endfor %}
                </p>
            </div>
            <!-- <span class="stock"><i class="fa fa-pen"></i> In stock</span> -->
            
          </div>
         
        </div>
        <div class="card__footer">
          
          <div class="action">
            
          </div>
        </div>
      </div>

</div>


{% if frworks.fr_status == '6' %}
<div class="container mt-5 mb-3" id="job-card-details">

    <div class="card">
        <div class="card__title">
          <div class="icon">
            <a href="#"><i class="fa fa-arrow-left"></i></a>
          </div>
          <h3>{{frworks.fr_categori}}</h3>
        </div> 
        <div class="card__body">
            
           
          <div class="half">
            <div class="featured_text">
              <h1>{{frworks.fr_user}}</h1>
              <p class="sub">{{frworks.end_date}}</p>
              <!-- <p class="price">$210.00</p> -->
            </div>
          
            <div class="image">
                
                    
              
                   
                        {% if frworks.fr_file %}
                            <img src="{{frworks.fr_file.url}}" alt="">
                        {% endif %}
                    
              
            </div>
            <!-- <div class="image">
            
             
           
                {% if frworks.fr_file %}
                    <img src="{{frworks.fr_file.url}}" alt="">
                {% endif %}
            
      
            </div> -->
          </div>
          <div class="half">
            <div class="description">
               
                <p>
                    {% for j in serv %}
                        {% if job.fr_service_id == j.id %}
                        {{j.description}}
                        {% endif %}
                    {% endfor %}
                <br><br>
                {% if frworks.fr_desecr %}
                    <h6><b>Admin</b> </h6>
                    {{frworks.fr_desecr}}
                {% endif %}
                </p>
            </div>
            <!-- <span class="stock"><i class="fa fa-pen"></i> In stock</span> -->
            
          </div>
         
        </div>
        <div class="card__footer">
          
          <div class="action">
            
          </div>
        </div>
      </div>

</div>
{% endif %}

{% endblock %}