{% extends 'admin_base.html' %} {% load static%} {% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
   
      .card {
        /* Change background color */
        background-color: white;
      
        /* Add border shadow */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
        /* Add space between the border and the content */
        padding: 4px;
       
        border-radius: 12px;
        width:50%;
      }
      #image {
        
        object-fit: fit;
        border-radius: 12px;
        height: 214px;
        padding: 0.60em;
      }
      
      


  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 20px;
    font-weight: 500;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  

  

.download-button {
    background-color: #210e65;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
  }
  

</style>


<div id="container" class="container-fluid">

   

    <style>
      #work-allocate-form
      {
        display: flex;
        align-items: center;
        justify-content:space-between;
        gap: 1em;
        margin-bottom: 1em;
        font-size: 14px;
      }
      #work-allocate-form form{
        width: 50%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 2em 3em;
      }
      #work-allocate-form h4{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 1em;
      }
      #work-allocate-form  .group, .btallocate
      {
        margin-top: 0.70em;
      }
      #work-allocate-form .group .star{
        color: #ffff03;
      }
      #work-allocate-form input, textarea, select
      {
        width: 100%;
        padding: 0.60em ;
        font-size: 13px;
        border: 1px solid rgb(230, 224, 224);
      }

      .btallocate
      {
        text-align:right;
        margin-top: 1em;
      }
      .btallocate button

      {
        border:none;
        background: #0f0f11;
        color: rgb(244, 244, 245);
        font-weight: 600;
        padding: 0.40em 1.3em;
      }
      @media(max-width:932px)
      {
        .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
           padding-left: 0.15rem; 
          padding-right: 0.15rem; 
      }
        #work-allocate-form form{
        width: 100%;
        }
        #work-allocate-form
       {
        flex-direction: column;
       }
         .card
         {
          width: 100%;
         }
      }
       

    
    
    
    </style>


    <div class="container" id="work-allocate-form">
     
      <form action="{% url 'freelancer_allocate' %}" method="post" >

        {% csrf_token %}
        <h4 >Allocate Freelancer</h4>
          <input type="text" hidden value="{{s.id}}" name="u-id">
          <div class="group">
            <label>Any Description</label><br>
            <textarea class="w-100" style="height: 100px;" name="admin_dese"></textarea>
          </div>

          <div class="group">
            <label>Choose Freelancer</label><br>
            <select name="frid" class="p-2 w-100" required>
              {% for j in r %}

              <option value={{j.id}} selected  clas="p-2">
                  
                  <span>{{j.full_name}}</span> 
                  <span> {{j.service}}</span>
                  {% if j.rating == 1 %}
                  <span class="star"> &nbsp; &nbsp; &nbsp;★</span>
                  {% elif j.rating == 2 %}
                  <span class="star">  &nbsp; &nbsp; &nbsp; ★★</span>
                  {% elif j.rating == 3 %}
                  <span class="star" >  &nbsp; &nbsp; &nbsp; ★★★</span> 
                  {% elif j.rating == 4 %}
                  <span class="star">  &nbsp; &nbsp; &nbsp;★★★★</span>
                  {% elif j.rating == 5 %}
                  <span class="star"> &nbsp; &nbsp; &nbsp;★★★★★</span>
                  {% endif %}
              </option>
              {% endfor %}
            </select>
          </div>

          <div class="group">
            <label>Choose End Date</label><br>
            <input type="date" name="fr-date" required>
          </div>

          <div class="btallocate">
            <button type="submit">Allocate</button>
          </div>
  
      </form>

      <div class="card">
         {% if s.product == 0 %}
                <img id="image" src="{{s.file.url}}" class="card-img-top"alt="Description of image">
           
            {% else %}
              {% for i in p %}
                {% if i.id == s.product %}
                       
                            <img src="{{i.gib.url}}" id="image" class="card-img-top"  alt="Description of image">
                        {% endif %}
                    {% endfor %}
                {% endif  %}



                <div class="card-body">
                  <h5 class="card-title"><b>{{s.user_name}}</b></h5>
                  <p class="card-text"> <span>{{s.email}}</span>&nbsp;&nbsp;
                            <span>{{s.phone_number}}</span><br>
                            <span>{{s.Address}}</span>
                            <h6><b>Description</b></h6>
                            <span>{{s.description}}</span>
                          </p>
                          {% if s.file %}
                    <a href="{{s.file.url}}" class="m-3 download-button" download>Download</a>
                    {% else %}
                    {% for i in p %}
                    {% if i.id == s.product %}
                        <a href="{{i.gib.url}}" class="m-3 download-button" download>Download</a>            
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
        </div>

        {% if s.status == '5' %}
        <div class="card">
          {% for i in fr %}
            {% if i.fr_service_id == s.id %}
              {% if i.fr_file %}
                <img src="{{i.fr_file.url}}" class="card-img-top"alt="Description of image">
              {% endif %}
            {% endif %}
          {% endfor %}
          
              
          <div class="card-body">
            <h5 class="card-title"><b>New Change</b></h5>
              <p class="card-text"> 
                {% for i in fr %}
                {% if i.fr_service_id == s.id %}
                  {{i.fr_desecr}} 
                  {% endif %}
                {% endfor %}
              </p>
                    
                   <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
        {% endif %}
 
  </div>


{% endblock %}

