{% extends 'admin_base.html' %} {% load static%} {% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
   
      .card {
        /* Change background color */
        background-color: white;
      
        /* Add border shadow */
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      
        /* Add space between the border and the content */
        padding: 4px;
       
        border-radius: 12px;
       
      }
      #image {
        
        object-fit: fit;
        border-radius: 12px;
        height: 214px;
        padding: 0.60em;
      }
      
      


  
  /* Style div elements that have class equal to name */
  .name {
    font-size: 20px;
    font-weight: 500;
  
    margin-top: 16px;
  }
  
  /* Style p element */
  p {
    font-size: 14px;
    color: #7f8c9b;
    line-height: 150%;
  }
  

  

.download-button {
    background-color: #210e65;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
  }
  

</style>


<div id="container" class="container-fluid">

    <!-- A div with card class for the card  -->
    {% if s.file %}
    <a href="{{s.file.url}}" class="m-3 download-button" download>Download</a>
    {% else %}
    {% for i in p %}
    {% if i.id == s.product %}
        <a href="{{i.gib.url}}" class="m-3 download-button" download>Download</a>            
    {% endif %}
    {% endfor %}
    {% endif %}
                   
                       
    <div class="row g-3 ">
        <div class="col-lg-6 mb-2">
            <div class="card ">
                {% if s.product == 0 %}
                <img id="image" src="{{s.file.url}}" alt="Description of image">
           
                {% else %}
               
                    {% for i in p %}
                   
                        {% if i.id == s.product %}
                       
                            <img src="{{i.gib.url}}" id="image" alt="Description of image">
                        {% endif %}
                    {% endfor %}
                {% endif  %}
                 
              </div>
              
             
              
        </div>
        <div class="col-lg-6">
            <div class="details">
                <div class="card text-center   pt-5">
                    <p>Name :&nbsp; {{s.user_name}}</p>
                    <p>Email :&nbsp; {{s.email}}</p>
                    <p>Phone No :&nbsp; {{s.phone_number}}</p>
                    <p>Adress :&nbsp; {{s.Address}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card mt-3 p-3">
                <div class="name mb-2 text-center">Description</div>
        
                <p>{{s.description}}</p>

                <form action="{% url 'freelancer_allocate' %}" method="post"class="p-1">
                  {% csrf_token %}
                  <div class="row">
                    <input type="text" hidden value="{{s.id}}" name="u-id">
                    <div class="col-lg-12 p-1">
                      <label>Any Description</label>
                      <textarea class="w-100" style="height: 100px;" name="admin_dese"></textarea>
                    </div>
                    <div class="col-lg-8 text-center">
                      <select name="frid" class="p-2 w-100" required>
                        {% for j in r %}
    
                        <option value={{j.id}} selected  clas="p-2">
                            
                            <span>{{j.full_name}}</span> 
                            <span> {{j.service}}</span>
                            {% if j.rating == 1 %}
                            <span> &nbsp; &nbsp; &nbsp;★</span>
                            {% elif j.rating == 2 %}
                            <span style=" color: orange;">  &nbsp; &nbsp; &nbsp; ★★</span>
                            {% elif j.rating == 3 %}
                            <span >  &nbsp; &nbsp; &nbsp; ★★★</span> 
                            {% elif j.rating == 4 %}
                            <span>  &nbsp; &nbsp; &nbsp;★★★★</span>
                            {% elif j.rating == 5 %}
                            <span> &nbsp; &nbsp; &nbsp;★★★★★</span>
                            {% endif %}
                        </option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="col-lg-2 text-center">
                      <input type="date" name="fr-date" required>
                    </div>
                    <div class="col-lg-2 text-center">
                      <button type="submit" class="btn btn-success">Allocate</button>
                    </div>
                  </div>
                
                  
                   
  
                </form>
                </div>
        </div>
        
    </div>
    
  </div>


  
  

{% endblock %}